<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>小智慧365_我的投资地盘</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="" />
    <meta name="author" content="xzh365 | www.xzh365.com" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="/css/chahua/css/wuxia-red.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script> -->
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/json2.js" ></script>
    <script type="text/javascript" src="/js/jquery.lazyload.min.js" ></script>
    <script type="text/javascript" src="/js/stk.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/mustache.js"></script>

</head>
<body>
    <div th:replace="navbar"></div>
</body>
</html>