<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>市场情绪监控表 - 小智慧</title>
    <div th:replace="common/css_public"></div>
    <div th:replace="common/css_datatable"></div>
    <link rel="stylesheet" th:href="'/css/public.css'+${_version}">
    <style>
        @media (min-width: 1200px) {
            .img-width img {
                width: 410px;
                padding: 2px;
                text-align: center;
            }
            .container{
                max-width: 1350px;
            }
        }
        @media (max-width: 650px) {
            .container{
                min-width: 615px;
            }

        }

        table.dataTable tbody th, table.dataTable thead th {
            padding: 4px 2px;
        }
        table.dataTable tbody td, table.dataTable thead td {
            padding: 2px 2px;
        }
        div.dataTables_wrapper div.dataTables_info {
            padding-top: .1em;
            float: left;
        }
        div.dataTables_wrapper div.dataTables_filter{
            padding-top: .1em;
            float: right;
            margin-right: .2rem;
        }
        div.dataTables_wrapper div.dataTables_paginate{
            float: right;
        }
        div.dataTables_wrapper div.dataTables_paginate ul.pagination{
            margin: 0;
        }
        .table thead th {
            border-bottom: 1px solid #dee2e6;
            padding: 0 .75rem;
            color: #9ba2a8;
            text-align: center;
            white-space: nowrap;
        }
        table.dataTable tbody td{
            font-size: 1.2rem;
        }
        table.dataTable>thead .sorting:before,
        table.dataTable>thead .sorting:after,
        table.dataTable>thead .sorting_asc:before,
        table.dataTable>thead .sorting_asc:after,
        table.dataTable>thead .sorting_desc:before,
        table.dataTable>thead .sorting_desc:after,
        table.dataTable>thead .sorting_asc_disabled:before,
        table.dataTable>thead .sorting_asc_disabled:after,
        table.dataTable>thead .sorting_desc_disabled:before,
        table.dataTable>thead .sorting_desc_disabled:after{
            bottom: 0;
        }
        .pagination-sm {
            margin: .1rem 0;
        }
        .custom-select-sm, .form-control-sm {
            height: calc(1.5rem);
            padding-top: .15rem;
            padding-bottom: .25rem;
            padding-left: .5rem;
            font-size: 50%;
        }
        .page-link {
            padding: .2rem .5rem;
            font-size: .8rem;
            line-height: 1.5;
        }

    </style>
</head>
<body class="hold-transition layout-top-nav layout-navbar-fixed text-sm pace-primary pace-done">
<!-- Site wrapper -->
<div id="app" class="wrapper">
    <div th:replace="common/navbar"></div>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header"></section>

        <section class="content">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div id="monitor" class="card">
                            <div class="card-header">
                                <h3 class="card-title">市场情绪监控表</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="收起">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <datatable :="{...common.monitor, ...monitor}">
                                    <template v-slot:up-count="{column}">
                                        <span v-text="column.title"></span>
                                        <button @click.stop="" type="button" class="btn btn-tool ml-1" title="历史走势">
                                            <i class="fal fa-chart-line"></i>
                                        </button>
                                    </template>
                                    <template v-slot:report-date="{row, rowNumber}">
                                        <span v-text="dateFormat(row.reportDate)"></span> <sub v-text="' ('+moment(dateFormat(row.reportDate)).day()+')'"></sub>
                                    </template>
                                </datatable>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">

                        <div id="monitor-history" class="card">
                            <div class="card-header">
                                <h3 class="card-title">市场情绪监控历史走势</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="收起">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <div id="chart-history" style="width: 100%; height: 500px"></div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </section>

        <a id="back-to-top" href="#" class="btn btn-outline-primary back-to-top" style="display: none" role="button" aria-label="Scroll to top">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>

    <div th:replace="common/footer"></div>
</div>
<!-- ./wrapper -->
</body>
</html>
<div th:replace="common/js_public"></div>
<div th:replace="common/js_datatable"></div>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.2.1/dist/echarts.min.js"></script>
<div th:replace="common/js_custom"></div>

<script th:inline="javascript">
</script>
<script>
    //判断单双击函数
    var time1 = new Date();
    function shuangJi() {
        var time2 = new Date();
        //第二次时间减去第一次时间小于300ms为双击事件，否则为单击事件
        if (time2 - time1 < 300) {
            return 2;
        } else {
            //如果为单击事件 则更新当前第一次时间
            time1 = time2;
            return 1;
        }
    }

    const config = {
        data() {
            return {
                navActive:'monitor',
                loading: true,
                common:{
                    monitor:{
                        columns: [
                            {title:"日期", slot:"report-date"},
                            {head:"up-count", title:"红盘", data:"upCount"},
                            {title:"绿盘", data:"downCount"},
                            {title:"涨停", data:"upLimitCount"},
                            {title:"跌停", data:"downLimitCount"},
                            {title:"炸板", data:""},
                            {title:"连板", data:""},
                            {title:"2连板", data:""},
                            {title:"3连板", data:""},
                            {title:"3连板以上", data:""},
                            {title:"收盘>MA20", data:""},
                            {title:"收盘>MA120", data:""},
                        ],
                        columnDefs: [
                            { className: "text-nowrap text-center", "targets": [ 0,1,2,3,4 ] },
                        ],
                        ordering: true,
                        order: [ [ 0, "desc" ] ],
                        tableClass:{'table-hover':true},
                        scrollX: true,
                        fixedColumns: {
                            left: 1
                        }
                    }
                },
                monitor:{
                    data:[]
                },
                ks:[],
                history:[]
            }
        },
        methods:{
        },
        computed: {
        },
        mounted() {
            let _this = this;
            axios.get("/rpt/monitor").then(function (res) {
                let data = res.data.data;
                _this.monitor = {data: data.monitor.slice(0, 30)};
                _this.history = data.monitor;
                _this.history.forEach(item => {
                    item.upCount = item.upCount == null ? null : (item.upCount/item.stockCount).toFixed(2); // 红盘%
                })
                _this.ks = data.ks;
                console.log('mounted', _this.$data)

                let option = _this.option = {
                    animation: false,
                    legend: {
                        left: 'center',
                        data: [{name: '全选',icon:'rect'}, '上证指数', '红盘%', '绿盘%', '参数4', '参数5'],
                        textStyle: {
                            fontSize: 16,
                        },
                        selected: {'全选': true}
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross'
                        },
                        borderWidth: 1,
                        borderColor: '#ccc',
                        padding: 10,
                        textStyle: {
                            color: '#000'
                        }
                        // extraCssText: 'width: 170px'
                    },
                    // 调整表格两边空白的区域
                    grid: {
                        // 左侧
                        x: '3%',
                        // 上部
                        // y: 25,
                        // 右侧
                         x2: '5%'
                        // 下部
                        // y2: 35
                    },
                    xAxis: {
                        name: '日期',
                        type: 'time',
                        // boundaryGap: false, //x下标在刻度处显示
                        splitLine: {
                            show: true, //想要不显示网格线，改为false
                            lineStyle: {
                                // 设置网格为虚线
                                type: 'dashed'
                            }
                        },
                        min: 'dataMin',
                        max: 'dataMax',
                        // splitArea: { show: true }, //保留网格区域
                    },
                    yAxis: [
                        {
                            //上证指数
                            type: 'value',
                            max: (parseInt(_.max(data.ks.map(k => k.c)) / 100 + 1)) * 100,
                            min: (parseInt(_.min(data.ks.map(k => k.c)) / 100)) * 100,
                            interval: 100,
                            //axisLabel: { show: true },
                            // 设置刻度线的颜色等样式
                            axisLine: {
                                lineStyle: {
                                    width: 3
                                }
                            },
                            splitLine: {
                                show: true, //想要不显示网格线，改为false
                                lineStyle: {
                                    // 设置网格为虚线
                                    type: 'dashed'
                                }
                            }
                        },
                        {
                            // 百分比
                            // max: 1000,
                            // min: 0,
                            type: 'value',
                            axisLine: {
                                lineStyle: {
                                    width: 3
                                }
                            },
                            splitLine: {
                                show: false //想要不显示网格线，改为false
                            }
                        },
                        {
                            //连板数
                            // max: 900,
                            // min: 0,
                            type: 'value',
                            axisLine: {
                                lineStyle: {
                                    width: 3
                                }
                            },
                            offset: 30,
                            splitLine: {
                                show: false //想要不显示网格线，改为false
                            }
                        },

                    ],
                    series: [
                        {//全选按钮的假数据
                            name:'全选',
                            type: 'line',
                            data: []
                        },
                        {
                            // 曲线数据配置
                            data: _this.ks.map(k => {
                                return {value: [dateFormat(k.d), k.c]}
                            }),
                            // 曲线名
                            name: '上证指数',
                            // 设置参数对应的y坐标轴的索引
                            type: 'line',
                            symbol: 'none',
                            // 曲线平滑设置
                            smooth: true
                        },
                        {
                            data: _this.history.map(k => {
                                return {value: [dateFormat(k.reportDate), k.upCount]}
                            }),
                            // 曲线名
                            name: '红盘%',
                            // 设置所在曲线对应的y坐标轴的索引
                            yAxisIndex: 1,
                            type: 'line',
                            symbol: 'none',
                            // 曲线平滑设置
                            smooth: true
                        },
                        {
                            data:  _this.history.map(k => {
                                return {value: [dateFormat(k.reportDate), k.downCount]}
                            }),
                            name: '绿盘%',
                            // 设置参数对应的y坐标轴的索引
                            yAxisIndex: 1,
                            type: 'line',
                            symbol: 'none',
                            // 曲线平滑设置
                            smooth: true
                        },
                        {
                            data: [
                                {
                                    value: ['2021-07-1', 200]
                                },
                                {
                                    value: ['2021-07-2', 400]
                                },
                                {
                                    value: ['2021-07-3', 600]
                                },
                                {
                                    value: ['2021-07-4', 800]
                                },
                                {
                                    value: ['2021-07-5', 1000]
                                },
                                {
                                    value: ['2021-07-6', 1100]
                                }
                            ],
                            name: '参数4',
                            // 设置参数对应的y坐标轴的索引
                            yAxisIndex: 2,
                            type: 'line',
                            symbol: 'none',
                            // 曲线平滑设置
                            smooth: true
                        },
                        {
                            data: [
                                {
                                    value: ['2021-07-1', 1100]
                                },
                                {
                                    value: ['2021-07-2', 800]
                                },
                                {
                                    value: ['2021-07-4', null]
                                },
                                {
                                    value: ['2021-07-5', 400]
                                }
                            ],
                            name: '参数5',
                            // 设置参数对应的y坐标轴的索引
                            yAxisIndex: 2,
                            type: 'line',
                            symbol: 'none',
                            // 曲线平滑设置
                            smooth: true
                        },

                    ]

                }
                console.log(_this.option)
                let chartHistory = echarts.init(document.getElementById('chart-history'))
                chartHistory.setOption(_this.option)

                //增加全选功能
                var legendWai = "";
                chartHistory.on("legendselectchanged", e => {
                    var j = shuangJi();
                    if (j === 2) { //如果为双击 进行隐藏和显示
                        let legendData = option.legend.data;
                        for (var i = 0; i < legendData.length; i++) {
                            //显示当前legent 关闭非当前legent
                            if (legendWai === legendData[i]) {
                                chartHistory.dispatchAction({
                                    type: 'legendSelect',
                                    name: legendData[i]
                                });
                                option.legend.selected[legendData[i]] = true;
                            } else {
                                chartHistory.dispatchAction({
                                    type: 'legendUnSelect',
                                    name: legendData[i]
                                });
                                option.legend.selected[legendData[i]] = false;
                            }
                        }
                    }else {
                        let name = legendWai = e.name;
                        let allSelect = "全选";
                        if (name === allSelect) {
                            //全选的点击事件
                            for (let key in e.selected) {
                                option.legend.selected[key] = e.selected[allSelect];
                            }
                        } else {
                            //普通多选框的点击事件
                            option.legend.selected[name] = e.selected[name];
                            if (e.selected.name == false) {
                                // 当前选中设置为false时
                                option.legend.selected[allSelect] = false;
                            } else {
                                // 当前选中设置为true时
                                let arr = Object.values(e.selected).splice(1);
                                let flag = arr.every(currentValue => {
                                    return currentValue == true;
                                });
                                option.legend.selected[allSelect] = flag;
                            }
                        }
                        chartHistory.setOption(option,);
                    }

                });

            });

        }
    };
    createApp(config);

</script>