<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>每日报告 - 小智慧</title>
    <div th:replace="common/css_public"></div>
    <div th:replace="common/css_datatable"></div>
    <link rel="stylesheet" href="/adminlte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" th:href="'/css/public.css'+${_version}">
    <style>
        @media (min-width: 1200px) {
            .img-width img {
                width: 410px;
                padding: 2px;
                text-align: center;
            }
            .container{
                max-width: 1350px;
            }
        }
        @media (max-width: 650px) {
            .container{
                min-width: 615px;
            }

        }

        .info-box{
            min-height: unset;
            margin: .1rem 0;
            padding: .01rem;
        }
        .table-hotbk .info-box .info-box-content{
            -webkit-flex-direction: inherit;
            -ms-flex-direction: unset;
            flex-direction: unset;
            -webkit-justify-content: unset;
            justify-content: unset;
            line-height:unset;
            padding-left: .3rem;
            //font-size: 1vw;
        }
        .info-box-content:after{
            clear:both;
        }
        .table-hotbk .one{
            font-weight: 500;
            color: var(--danger);
            margin-left: .2rem;
        }
        .callout a{
            text-decoration: none;
            color: unset;
            font-size: .85rem;
            white-space: nowrap;
            width: auto;
        }
        .callout a:hover{
            color: unset;
        }
        .report-date{
            background-color: #e9eaea;
            color: unset !important;
        }
        .same-bk{
            background-color: #d2d6de;
        }
        .table td.td-hotbk{
            padding: .2rem .8rem;
        }
        .callout-danger a{
            color: var(--danger);
        }
        .callout-hotbk{
            width: 12%;
            min-width: 15px;
            margin-left: 2px;
        }
        .callout-hotbk .progress{
            margin: 2px 0 !important;
            height: 4px;
        }
        .callout-hotbk .progress-bar{
            background-color: #f88e8e !important;
        }

        table.dataTable tbody th, table.dataTable tbody td, table.dataTable thead th, table.dataTable thead td {
            padding: 1px 2px;
        }
        div.dataTables_wrapper div.dataTables_info {
            padding-top: .1em;
            float: left;
        }
        div.dataTables_wrapper div.dataTables_filter{
            padding-top: .1em;
            float: right;
            margin-right: .2rem;
        }
        div.dataTables_wrapper div.dataTables_paginate{
            float: right;
        }
        div.dataTables_wrapper div.dataTables_paginate ul.pagination{
            margin: 0;
        }
        .table thead th {
            border-bottom: 1px solid #dee2e6;
            padding: 0 .75rem;
            color: #9ba2a8;
            text-align: center;
            white-space: nowrap;
        }
        table.dataTable>thead .sorting:before,
        table.dataTable>thead .sorting:after,
        table.dataTable>thead .sorting_asc:before,
        table.dataTable>thead .sorting_asc:after,
        table.dataTable>thead .sorting_desc:before,
        table.dataTable>thead .sorting_desc:after,
        table.dataTable>thead .sorting_asc_disabled:before,
        table.dataTable>thead .sorting_asc_disabled:after,
        table.dataTable>thead .sorting_desc_disabled:before,
        table.dataTable>thead .sorting_desc_disabled:after{
            bottom: 0;
        }
        .pagination-sm {
            margin: .1rem 0;
        }
        .custom-select-sm, .form-control-sm {
            height: calc(1.5rem);
            padding-top: .15rem;
            padding-bottom: .25rem;
            padding-left: .5rem;
            font-size: 50%;
        }
        .page-link {
            padding: .2rem .5rem;
            font-size: .8rem;
            line-height: 1.5;
        }

        #report-tabContent label {
            margin-bottom: 0;
        }
        #report-tabContent label:not(.form-check-label):not(.custom-file-label) {
            font-weight: 500;
        }
        .subtable{
            font-size: .8rem;
            text-align: left;
            margin: auto;
        }
        .subtable th{
            color: #9ba2a8;
            font-size: .15rem;
        }
        .badge-outline {
            border: 1px solid;
        }
        .btn-tab{
            margin-left: 20px;
        }
        .ps{
            margin-left: 5px;
            font-size: .8vw;
            float: left;
            margin-top: 3px;
            color: #6c757d;
        }
        #calendar .table thead th{
            padding: unset;
        }
        .callout-hotbk .progress {
            width: 16px;
        }
</style>
</head>
<body class="hold-transition layout-top-nav layout-navbar-fixed text-sm pace-primary pace-done">
<!-- Site wrapper -->
<div id="app" class="wrapper">
    <div th:replace="common/navbar"></div>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header"></section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title" id="bk-stat">板块统计信息</h3>
                                <div class="card-tools">
                                    <div class="btn-group btn-tool dropleft">
                                        <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-offset="-52">
                                            <i class="fal fa-calendar-alt"></i>
                                        </button>
                                        <div class="dropdown-menu" role="menu" style="z-index: 10000">
                                            <div id="calendar" style="width: 100%"></div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="收起">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <nav>
                                    <div class="nav nav-tabs" id="hobk-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="hotbk-calendar-tab" data-toggle="tab" href="#hotbk-calendar" role="tab" aria-controls="hotbk-calendar" aria-selected="true">热点板块日历</a>
                                        <a v-text="reportDate && '板块详情 ['+dateFormat(reportDate)+']'" class="nav-item nav-link" id="hotbk-detail-tab" data-toggle="tab" href="#hotbk-detail" role="tab" aria-controls="hotbk-detail" aria-selected="false"></a>
                                        <a v-text="reportDate && '板块策略 ['+dateFormat(reportDate)+']'" class="nav-item nav-link" id="allbks-strategy-tab" data-toggle="tab" href="#allbks-strategy" role="tab" aria-controls="allbks-strategy" aria-selected="false"></a>
                                    </div>
                                </nav>
                                <div class="tab-content p-1" id="hotbk-tabContent">
                                    <div class="tab-pane fade show active" id="hotbk-calendar" role="tabpanel" aria-labelledby="hotbk-calendar-tab">
                                        <table class="table table-bordered table-hotbk">
                                            <thead>
                                                <tr>
                                                    <th v-for="bk in hotBks" class="text-center text-nowrap" :class="bk.reportDate==reportDate?'report-date':''">
                                                        <a v-text="dateFormat(bk.reportDate)" @click.prevent="gotoReport(bk.reportDate)" href="#" style="color: unset"></a>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td v-for="bk in hotBks" class="td-hotbk text-center" :class="bk.reportDate==reportDate?'report-date':''">
                                                        <div class="row">
                                                            <!--<section v-for="idx in [0,1]" class="col-lg-6 connectedSortable" style="padding: 0 3px">-->
                                                                <template v-for="(item,index) in bk.data">
                                                                    <!--<div v-if="index % 2 === idx" @mouseover="filterSameBk(item)" @mouseleave="filterSameBk({stock:{code:'-1'}})" class="info-box callout" :class="item.class">-->
                                                                    <div @mouseover="filterSameBk(item)" @mouseleave="filterSameBk({stock:{code:'-1'}})" class="info-box callout" :class="item.class">
                                                                        <div class="callout-hotbk">
                                                                            <div class="progress">
                                                                                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" :style="{width: item.strategies.includes('strategy_08a')?30+'%':0}">
                                                                                    <span class="sr-only">20日强势板块(08a)</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="progress">
                                                                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" :style="{width: item.strategies.includes('strategy_08b')?60+'%':0}">
                                                                                    <span class="sr-only">60日强势板块(08b)</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="progress">
                                                                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" :style="{width: item.strategies.includes('strategy_08c')?100+'%':0}">
                                                                                    <span class="sr-only">120日强势板块(08c)</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="info-box-content">
                                                                            <span v-html="item.stock.nameWithLink"></span>
                                                                            <div v-if="inHotBksNew(item)">
                                                                                <small class="one" title="新出现的板块">new</small>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </template>
                                                            <!--</section>-->
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>

                                        <div class="tab-custom-content">
                                            <span class="ps">说明: </span>
                                            <span class="lead mb-0 text-sm">
                                                <div class="callout-hotbk" style="max-width: 18px;margin-left: 15px; float: left">
                                                    <div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%"><span class="sr-only">20日强势板块(08a)</span></div></div>
                                                    <div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0"><span class="sr-only">60日强势板块(08b)</span></div></div>
                                                    <div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0"><span class="sr-only">120日强势板块(08c)</span></div></div>
                                                </div>
                                            </span>
                                            <span class="ps">20日强势板块(08a)</span>
                                            <span class="lead mb-0 text-sm">
                                                <div class="callout-hotbk" style="max-width: 18px;margin-left: 15px; float: left">
                                                    <div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 0"><span class="sr-only">20日强势板块(08a)</span></div></div>
                                                    <div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"><span class="sr-only">60日强势板块(08b)</span></div></div>
                                                    <div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0"><span class="sr-only">120日强势板块(08c)</span></div></div>
                                                </div>
                                            </span>
                                            <span class="ps">60日强势板块(08b)</span>
                                            <span class="lead mb-0 text-sm">
                                                <div class="callout-hotbk" style="max-width: 18px;margin-left: 5px; float: left">
                                                    <div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 0"><span class="sr-only">20日强势板块(08a)</span></div></div>
                                                    <div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0"><span class="sr-only">60日强势板块(08b)</span></div></div>
                                                    <div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span class="sr-only">120日强势板块(08c)</span></div></div>
                                                </div>
                                            </span>
                                            <span class="ps">120日强势板块(08c)</span>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="hotbk-detail" role="tabpanel" aria-labelledby="hotbk-detail-tab">
                                        <datatable :="{...common.currentHotBks, ...currentHotBks}"></datatable>
                                    </div>
                                    <div class="tab-pane fade" id="allbks-strategy" role="tabpanel" aria-labelledby="allbks-strategy-tab">
                                        <datatable :="{...common.currentHotBks, ...currentBksStrategy}"></datatable>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
<pre>
1.如果某天选出板块数明显减少，且只要有20日强势的板块，说明可能板块发生切换。需引起重视。
</pre>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h3 v-text="reportDate && '股票统计信息 ['+dateFormat(reportDate)+']'" class="card-title"></h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="收起">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <nav>
                                    <div class="nav nav-tabs" id="report-tab" role="tablist">
                                        <a @click="clickTab(currentAllStocks.data)" class="nav-item nav-link active" id="report-allstocks-tab" data-toggle="tab" href="#report-allstocks" role="tab" aria-controls="report-allstocks" aria-selected="true" style="color: blueviolet;">
                                            全市场策略 (<span v-text="currentAllStocks.data.length"></span>)
                                            <div @click.stop v-if="currentAllStocksChecked.type" class="custom-control custom-checkbox ml-3" style="float: right">
                                                <input v-model="currentAllStocksChk" class="custom-control-input" type="checkbox" id="currentAllStocksChk">
                                                <label for="currentAllStocksChk" class="custom-control-label"></label>
                                            </div>
                                        </a>

                                        <a @click="clickTab(currentMyStocksA.data)" class="nav-item nav-link" id="report-mystocks-a-tab" data-toggle="tab" href="#report-mystocks-a" role="tab" aria-controls="report-mystocks-a" aria-selected="false" style="color: tomato;">
                                            自选股策略[A股] (<span v-text="currentMyStocksA.data.length"></span>)
                                            <div @click.stop v-if="currentMyStocksAChecked.type" class="custom-control custom-checkbox ml-3" style="float: right">
                                                <input v-model="currentMyStocksAChk" class="custom-control-input" type="checkbox" id="currentMyStocksAChk">
                                                <label for="currentMyStocksAChk" class="custom-control-label"></label>
                                            </div>
                                        </a>
                                        <a @click="clickTab(currentMyStocksH.data)" class="nav-item nav-link" id="report-mystocks-h-tab" data-toggle="tab" href="#report-mystocks-h" role="tab" aria-controls="report-mystocks-h" aria-selected="false" style="color: tomato;">
                                            自选股策略[H股] (<span v-text="currentMyStocksH.data.length"></span>)
                                        </a>
                                        <a @click="clickTab(currentMyStocksU.data)" class="nav-item nav-link" id="report-mystocks-u-tab" data-toggle="tab" href="#report-mystocks-u" role="tab" aria-controls="report-mystocks-u" aria-selected="false" style="color: tomato;">
                                            自选股策略[U股] (<span v-text="currentMyStocksU.data.length"></span>)
                                        </a>

                                        <a @click="clickTab([])" class="nav-item nav-link" id="report-allstocksrps-tab" data-toggle="tab" href="#report-allstocksrps" role="tab" aria-controls="report-allstocksrps" aria-selected="false" style="color: crimson;">
                                            RPS策略[A股]
                                        </a>
                                        <a @click="clickTab([])" class="nav-item nav-link" id="report-allstocksrps-h-tab" data-toggle="tab" href="#report-allstocksrps-h" role="tab" aria-controls="report-allstocksrps-h" aria-selected="false" style="color: crimson;">
                                            RPS策略[H股]
                                        </a>
                                        <a @click="clickTab([])" class="nav-item nav-link" id="report-allstocksrps-u-tab" data-toggle="tab" href="#report-allstocksrps-u" role="tab" aria-controls="report-allstocksrps-u" aria-selected="false" style="color: crimson;">
                                            RPS策略[U股]
                                        </a>

                                        <a @click="clickTab(currentAllStocksRpsStrategy.data)" class="nav-item nav-link" id="report-allstocksrpsstrategy-tab" data-toggle="tab" href="#report-allstocksrpsstrategy" role="tab" aria-controls="report-allstocksrpsstrategy" aria-selected="false">
                                            RPS策略[A股]+策略 (<span v-text="currentAllStocksRpsStrategy.data.length"></span>)
                                            <div @click.stop v-if="currentAllStocksRpsStrategyChecked.type" class="custom-control custom-checkbox ml-3" style="float: right">
                                                <input v-model="currentAllStocksRpsStrategyChk" class="custom-control-input" type="checkbox" id="currentAllStocksRpsStrategyChk">
                                                <label for="currentAllStocksRpsStrategyChk" class="custom-control-label"></label>
                                            </div>
                                        </a>

                                        <a @click="clickTab(currentAllStocksRps15A.data)" class="nav-item nav-link" id="report-allstocksrps15a-tab" data-toggle="tab" href="#report-allstocksrps15a" role="tab" aria-controls="report-allstocksrps15a" aria-selected="false">
                                            K线云梯 (<span v-text="currentAllStocksRps15A.data.length"></span>)
                                            <div @click.stop v-if="currentAllStocksRps15AChecked.type" class="custom-control custom-checkbox ml-3" style="float: right">
                                                <input v-model="currentAllStocksRps15AChk" class="custom-control-input" type="checkbox" id="currentAllStocksRps15AChk">
                                                <label for="currentAllStocksRps15AChk" class="custom-control-label"></label>
                                            </div>
                                        </a>

                                        <span class="btn-tab">
                                            <button v-show="currentTabSize!=0" @click="gotoStocks()" type="button" class="btn btn-outline-primary btn-xs" style="margin-bottom: -11px;"><i class="fas fa-th"></i> <span v-text="'查看全部'+currentTabSize+'只个股'"></span></button>
                                        </span>
                                    </div>

                                </nav>

                                <div class="tab-content p-1" id="report-tabContent">
                                    <div class="tab-pane fade show active" id="report-allstocks" role="tabpanel" aria-labelledby="report-allstocks-tab">
                                        <datatable :="{...common.allStocks, ...currentAllStocks}"></datatable>
                                    </div>
                                    <div class="tab-pane fade" id="report-allstocksrps" role="tabpanel" aria-labelledby="report-allstocksrps-tab">
                                        <datatable :="{...common.allStocksRpsA, ...currentAllStocksRpsA}">
                                            <template v-slot:checked="{row, rowNumber}">
                                                <div @click.stop class="custom-control custom-checkbox ml-3">
                                                    <input @click.stop="reportChecked(row)" :checked="row.checkedTime!=null" class="custom-control-input" type="checkbox" :id="'currentAllStocksRpsA-'+row.strategyCode">
                                                    <label :for="'currentAllStocksRpsA-'+row.strategyCode" class="custom-control-label"></label>
                                                </div>
                                            </template>
                                        </datatable>
                                    </div>
                                    <div class="tab-pane fade" id="report-allstocksrpsstrategy" role="tabpanel" aria-labelledby="report-allstocksrpsstrategy-tab">
                                        <datatable :="{...common.allStocks, ...currentAllStocksRpsStrategy}"></datatable>
                                    </div>
                                    <div class="tab-pane fade" id="report-allstocksrps-h" role="tabpanel" aria-labelledby="report-allstocksrps-h-tab">
                                        <datatable :="{...common.allStocksRpsH, ...currentAllStocksRpsH}">
                                            <template v-slot:checked="{row, rowNumber}">
                                                <div @click.stop class="custom-control custom-checkbox ml-3">
                                                    <input @click.stop="reportChecked(row)" :checked="row.checkedTime!=null" class="custom-control-input" type="checkbox" :id="'currentAllStocksRpsH-'+row.strategyCode">
                                                    <label :for="'currentAllStocksRpsH-'+row.strategyCode" class="custom-control-label"></label>
                                                </div>
                                            </template>
                                        </datatable>
                                    </div>
                                    <div class="tab-pane fade" id="report-allstocksrps-u" role="tabpanel" aria-labelledby="report-allstocksrps-u-tab">
                                        <datatable :="{...common.allStocksRpsU, ...currentAllStocksRpsU}">
                                            <template v-slot:checked="{row, rowNumber}">
                                                <div @click.stop class="custom-control custom-checkbox ml-3">
                                                    <input @click.stop="reportChecked(row)" :checked="row.checkedTime!=null" class="custom-control-input" type="checkbox" :id="'currentAllStocksRpsU-'+row.strategyCode">
                                                    <label :for="'currentAllStocksRpsU-'+row.strategyCode" class="custom-control-label"></label>
                                                </div>
                                            </template>
                                        </datatable>
                                    </div>
                                    <div class="tab-pane fade" id="report-mystocks-a" role="tabpanel" aria-labelledby="report-mystocks-a-tab">
                                        <datatable :="{...common.allStocks, ...currentMyStocksA}"></datatable>
                                    </div>
                                    <div class="tab-pane fade" id="report-mystocks-h" role="tabpanel" aria-labelledby="report-mystocks-h-tab">
                                        <datatable :="{...common.allStocks, ...currentMyStocksH}"></datatable>
                                    </div>
                                    <div class="tab-pane fade" id="report-mystocks-u" role="tabpanel" aria-labelledby="report-mystocks-u-tab">
                                        <datatable :="{...common.allStocks, ...currentMyStocksU}"></datatable>
                                    </div>
                                    <div class="tab-pane fade" id="report-allstocksrps15a" role="tabpanel" aria-labelledby="report-allstocksrps15a-tab">
                                        <datatable :="{...common.allStocks, ...currentAllStocksRps15A}"></datatable>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <stockexclude :stock="$store.state.currentStock"></stockexclude>
        <stockheart :stock="$store.state.currentStock"></stockheart>
        <a id="back-to-top" href="#" class="btn btn-outline-primary back-to-top" style="display: none" role="button" aria-label="Scroll to top">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>

    <div th:replace="common/footer"></div>
</div>
<!-- ./wrapper -->
</body>
</html>
<div th:replace="common/js_public"></div>
<div th:replace="common/js_datatable"></div>
<script src="/adminlte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<div th:replace="common/js_custom"></div>

<script th:inline="javascript">
    const reportDate = [[${reportDate}]];

    $(function () {
        $('#calendar').datetimepicker({
            format: 'L',
            autoclose: true,
            locale: 'zh-cn',
            inline: true,
            maxDate: moment().millisecond(999).second(59).minute(59).hour(23)
        })
        $('#calendar').on("change.datetimepicker", function (e) {
            window.open('/report/'+moment(e.date).format("YYYYMMDD"));
            $('.dropdown-menu').removeClass("show");
        });
    });

    const config = {
        data() {
            let allStocksRps = {
                    columns: [
                        {title:"策略", data:"strategyName"},
                        {title:"日期", data:"strategyDate"},
                        {title:"操作", data:"action"},
                        {title:"操作", data:"action7"},
                        {title:"操作", data:"action30"},
                        {title:"操作", data:"volume"},
                        {title:"操作", data:"longtime"},
                        {title:"已读", slot:"checked"}
                    ],
                    paging:   false,
                    info: false,
                    searching : false,
                    columnDefs: [
                        { className: "text-center", "targets": [ 1,2,3,4,5 ] }
                    ],
                    tableClass:{'table-hover':true},
                    selected:true
                };

            return {
                navActive:'report',
                loading: true,
                reportDate: '',
                currentTabSize:0,
                currentTabStocks:'',
                common:{
                    hotBks:[{type:'strategy_08a', name:'20日强势板块(08a)'},{type:'strategy_08b', name:'60日强势板块(08b)'},{type:'strategy_08c', name:'120日强势板块(08c)'}],
                    currentHotBks:{
                        columns: [
                            {title:"板块/日期/策略", data:"bkDateStrategy"},
                            {title:"日线", data:"dayBarImage"},
                            {title:"周线", data:"weekBarImage"},
                            {title:"精选个股", data:"bkStocks"},
                            {title:"操作", data:"action"}
                        ],
                        columnDefs: [
                            { className: "text-nowrap text-center", "targets": [ 0,3,4 ] },
                            { className: "img-width text-center", "targets": [ 1,2 ] }
                        ]
                    },
                    allStocks:{
                        columns: [
                            {title:"股票/日期/策略/板块", data:"stockAndBk"},
                            {title:"策略输出", data:"strategyOutput"},
                            {title:"日线", data:"dayBarImage"},
                            {title:"周线", data:"weekBarImage"},
                            {title:"月线", data:"monthBarImage"}
                        ],
                        columnDefs: [
                            { className: "text-center", "targets": [ 0 ] }, //text-nowrap
                            { className: "small", "targets": [ 1 ] },
                            { className: "img-width", "targets": [ 2,3,4 ] }
                        ],
                        pageLength: 50
                    },
                    allStocksRpsA:_.cloneDeep(allStocksRps),
                    allStocksRpsH:_.cloneDeep(allStocksRps),
                    allStocksRpsU:_.cloneDeep(allStocksRps)
                },
                hotBks:[],
                hotBksNew:[],
                currentHotBks:{data:[]},currentAllStocks:{data:[]},currentBksStrategy:{data:[]},
                currentMyStocksA:{data:[]},
                currentMyStocksH:{data:[]},
                currentMyStocksU:{data:[]},
                currentAllStocksRpsA:{data:[]},currentAllStocksRpsStrategy:{data:[]},
                currentAllStocksRpsH:{data:[]},
                currentAllStocksRpsU:{data:[]},

                currentAllStocksRps15A:{data:[]},

                currentAllStocksChecked:{},currentAllStocksRpsStrategyChecked:{},currentMyStocksAChecked:{},currentAllStocksRps15AChecked:{}
            }
        },
        methods:{
            filterSameBk:function (item) {
                this.hotBks.forEach(bk => bk.data.forEach(itm => itm.class=(item.stock.code === itm.stock.code?'callout-danger':'') ));
            },
            inHotBksNew:function (item) {
                return this.hotBksNew.indexOf(item.stock.code) >= 0;
            },
            dateFormat:function (date){
                return dateFormat(date);
            },
            gotoReport:function (reportDate) {
                window.open('/report/'+reportDate);
            },
            gotoStocks:function (){
                console.log(this.currentTabStocks)
                window.open('/S/'+this.currentTabStocks);
            },
            clickTab:function (data) {
                this.currentTabSize = data.length;
                this.currentTabStocks = data.map(d => d.code).join(',');
            },
            getChecked:function (obj){
                return obj.checked != null;
            },
            setHeaderChecked:function (obj, flag) {
                if(flag) {
                    axios.post("/rpt/header/checked/"+obj.type+"/"+obj.reportDate).then(function (res) {
                        if(res.data.success){
                            toastify({text: "标记为已读"});
                        }else{
                            toastify({text: "失败：\n"+res.data.data});
                        }
                    });
                }else{
                    axios.delete("/rpt/header/checked/"+obj.type+"/"+obj.reportDate).then(function (res) {
                        if(res.data.success){
                            toastify({text: "标记为未读"});
                        }else{
                            toastify({text: "失败：\n"+res.data.data});
                        }
                    });
                }
            },
            reportChecked:function (row) {
                if(row.checkedTime == null) {
                    axios.post("/rpt/detail/checked/"+row.id).then(function (res) {
                        if(res.data.success){
                            toastify({text: "标记为已读"});
                        }else{
                            toastify({text: "失败：\n"+res.data.data});
                        }
                    });
                }else{
                    axios.delete("/rpt/detail/checked/"+row.id).then(function (res) {
                        if(res.data.success){
                            toastify({text: "标记为未读"});
                        }else{
                            toastify({text: "失败：\n"+res.data.data});
                        }
                    });
                }
            }
        },
        computed: {
            reportDateShow:function (){
                return dateFormat(this.reportDate);
            },
            currentAllStocksChk:{
                get: function (){return this.getChecked(this.currentAllStocksChecked)},
                set: function (value) {this.setHeaderChecked(this.currentAllStocksChecked, value)}
            },
            currentAllStocksRpsStrategyChk:{
                get: function (){return this.getChecked(this.currentAllStocksRpsStrategyChecked)},
                set: function (value) {this.setHeaderChecked(this.currentAllStocksRpsStrategyChecked, value)}
            },
            currentAllStocksRps15AChk:{
                get: function (){return this.getChecked(this.currentAllStocksRps15AChecked)},
                set: function (value) {this.setHeaderChecked(this.currentAllStocksRps15AChecked, value)}
            },
            currentMyStocksAChk:{
                get: function (){return this.getChecked(this.currentMyStocksAChecked)},
                set: function (value) {this.setHeaderChecked(this.currentMyStocksAChecked, value)}
            }
        },
        mounted() {
            let _this = this;
            axios.get("/rpt/"+reportDate).then(function (res) {
                let data = res.data.data;

                _this.reportDate = data.reportDate;
                _this.hotBks = data.hotBks;
                _this.hotBksNew = data.hotBksNew;
                Object.assign(_this, _.pick(data, ['currentAllStocksChecked', 'currentAllStocksRpsStrategyChecked', 'currentMyStocksAChecked']))

                data.currentHotBks.forEach((item, index) => {
                    Object.assign(item, item.bk)
                    item.bkDateStrategy = item.nameAndCodeWithLink + '<br/>' + dateFormat(item.strategyDate) + '<br/>(' +item.details.map(detail => detail.strategyCode.split('_')[1]).join(', ') +')';
                    item.bkStocks = item.details[0].stocks.map(detail => detail.nameWithLink).join('<br/>');
                    item.action = item.details[0].action;
                });
                _this.currentHotBks = {data: data.currentHotBks};

                data.currentBksStrategy.forEach((item, index) => {
                    Object.assign(item, item.bk)
                    item.bkDateStrategy = item.nameAndCodeWithLink + '<br/>' + dateFormat(item.strategyDate) + '<br/>' +item.details.map(detail => detail.strategyName).join('<br/>');
                    item.bkStocks = item.details[0].stocks.map(detail => detail.nameWithLink).join('<br/>');
                    item.action = item.details[0].action;
                });
                _this.currentBksStrategy = {data: data.currentBksStrategy};

                _this.currentAllStocks = {data: data.currentAllStocks};
                //_this.currentAllStocksChecked = data.currentAllStocksChecked;
                //_this.currentAllStocks.data = convertStocks(_this.currentAllStocks.data);
                _this.currentTabSize = _this.currentAllStocks.data.length;
                _this.currentTabStocks = _this.currentAllStocks.data.map(d => d.code).join(',');

                _this.currentAllStocksRpsStrategy = {data: data.currentAllStocksRpsStrategy};
                _this.currentMyStocksA = {data: data.currentMyStocksA};
                _this.currentMyStocksH = {data: data.currentMyStocksH};
                _this.currentMyStocksU = {data: data.currentMyStocksU};

                _this.currentAllStocksRpsA = {data: data.currentAllStocksRpsA};
                parseCurrentAllStocksRps(_this, _this.currentAllStocksRpsA, _this.common.allStocksRpsA);
                _this.currentAllStocksRpsH = {data: data.currentAllStocksRpsH};
                parseCurrentAllStocksRps(_this, _this.currentAllStocksRpsH, _this.common.allStocksRpsH);
                _this.currentAllStocksRpsU = {data: data.currentAllStocksRpsU};
                parseCurrentAllStocksRps(_this, _this.currentAllStocksRpsU, _this.common.allStocksRpsU);

                _this.currentAllStocksRps15A = {data: data.currentAllStocksRps15A}; //K线云梯

                console.log('mounted', _this.$data)

                _this.$nextTick(function() {
                    var threshold = 80;
                    $('.info-box-content a').each(function () {
                        var $self = $(this),
                        fs = parseInt($self.css('font-size'));
                        while ($self.width() > threshold) {
                            if(fs <= 10)break;
                            $self.css({'font-size': fs--});
                        }
                        $self.width(threshold);
                    });
                });

            });

        }
    };
    createApp(config);

    function parseCurrentAllStocksRps(_this, currentAllStocksRps, allStockRps){
        let allCodes = '';
        let allCodes7 = '';
        let allCodes30 = '';
        let volume = '';
        let longtime = '';
        currentAllStocksRps.data.forEach(item => {
            item.strategyDate = dateFormat(item.strategyDate);
            item.action = elem('a', {href:'/s/'+item.rpsStockCode+'?title='+item.strategyName+' - 全部', target:'_blank'}, '查看全部 ('+item.rpsStockCode.split(',').length+")").outerHTML;
            item.action7 = elem('a', {href:'/s/'+item.output1+'?title='+item.strategyName+' - 7天内新增', target:'_blank'}, '7天内新增 ('+(item.output1==null?"0":item.output1.split(',').length)+")").outerHTML;
            item.action30 = elem('a', {href:'/s/'+item.output2+'?title='+item.strategyName+' - 30天内新增', target:'_blank'}, '30天内新增 ('+(item.output2==null?"0":item.output2.split(',').length)+")").outerHTML;
            item.volume = elem('a', {href:'/s/'+item.outputVolumeHighest+'?title='+item.strategyName+' - 量能500日新高', target:'_blank'}, '量能500日新高 ('+(item.outputVolumeHighest==null?"0":item.outputVolumeHighest.split(',').length)+")").outerHTML;
            item.longtime = elem('a', {href:'/s/'+item.outputDownLongtime+'?title='+item.strategyName+' - 高点调整120天', target:'_blank'}, '高点调整120天 ('+(item.outputDownLongtime==null?"0":item.outputDownLongtime.split(',').length)+")").outerHTML;

            allCodes += item.rpsStockCode+','
            allCodes7 += item.output1+','
            allCodes30 += item.output2+','
            volume += item.outputVolumeHighest+','
            longtime += item.outputDownLongtime
        })
        allStockRps.columns.find(item => item.data==='action').title += ' <a title="查看全部个股" target="_blank" href="/s/'+allCodes+'"><i class="fas fa-th"></i></a>'
        allStockRps.columns.find(item => item.data==='action7').title += ' <a title="查看7天内新增加的全部个股" target="_blank" href="/s/'+allCodes7+'"><i class="fas fa-th"></i></a>'
        allStockRps.columns.find(item => item.data==='action30').title += ' <a title="查看30天内新增加的全部个股" target="_blank" href="/s/'+allCodes30+'"><i class="fas fa-th"></i></a>'
        allStockRps.columns.find(item => item.data==='volume').title += ' <a title="查看量能500日新高的全部个股" target="_blank" href="/s/'+volume+'"><i class="fas fa-th"></i></a>'
        allStockRps.columns.find(item => item.data==='longtime').title += ' <a title="查看高点调整120天的全部个股" target="_blank" href="/s/'+longtime+'"><i class="fas fa-th"></i></a>'
    }

    function convertStocks(data){
        data.forEach(stock =>{
            stock.stockAndBk = {table:true}
        })
        return data;
    }

    function createTableOrNot(name, data){
        if(data.length <= 1){
            return name + '：'+ data;
        }else{
            return '<table><tr><td rowspan="'+data.length+'">策略</td><td>'+data[0]+'</td></tr>' +
                data.slice(1).map(d => '<tr><td>'+d+'</td></tr>').join('')+
                '</table>'
        }
    }

</script>