<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}+' - 小智慧'">小智慧 - 股票</title>
    <div th:replace="common/css_public"></div>
    <div th:replace="common/css_datatable"></div>
    <link rel="stylesheet" href="/css/tippy.css"/>
    <link rel="stylesheet" th:href="'/css/public.css'+${_version}">
    <style>
        @media (min-width: 1200px) {
            .img-width img {
                width: 410px;
                padding: 2px;
                text-align: center;
            }
            .container{
                max-width: 1350px;
            }
        }
        @media (max-width: 650px) {
            .container{
                min-width: 615px;
            }

        }

        @media only screen and (width:1024px){
            .img-bar {
                width: 410px !important;
                padding: 2px !important;
                text-align: center !important;
            }
            .img-flow-tab {
                height: 65px !important;
                margin-top: -65px !important;
                width: 405px !important;
            }
        }

        table.dataTable tbody th, table.dataTable tbody td, table.dataTable thead th, table.dataTable thead td {
            padding: 1px 2px;
        }
        div.dataTables_wrapper div.dataTables_info {
            padding-top: .1em;
            float: left;
        }
        div.dataTables_wrapper div.dataTables_filter{
            padding-top: .1em;
            float: right;
            margin-right: .2rem;
        }
        div.dataTables_wrapper div.dataTables_paginate{
            float: right;
        }
        div.dataTables_wrapper div.dataTables_paginate ul.pagination{
            margin: 0;
        }
        .table thead th {
            border-bottom: 1px solid #dee2e6;
            padding: 0;
            color: #9ba2a8;
            text-align: center;
            font-size: smaller;
        }
        .table-fn tbody td {
            padding: .1rem;
            text-align: right;
            font-size: .9rem;
        }
        table.dataTable>thead .sorting:before,
        table.dataTable>thead .sorting:after,
        table.dataTable>thead .sorting_asc:before,
        table.dataTable>thead .sorting_asc:after,
        table.dataTable>thead .sorting_desc:before,
        table.dataTable>thead .sorting_desc:after,
        table.dataTable>thead .sorting_asc_disabled:before,
        table.dataTable>thead .sorting_asc_disabled:after,
        table.dataTable>thead .sorting_desc_disabled:before,
        table.dataTable>thead .sorting_desc_disabled:after{
            bottom: 0;
        }
        .pagination-sm {
            margin: .1rem 0;
        }
        .custom-select-sm, .form-control-sm {
            height: calc(1.5rem);
            padding-top: .15rem;
            padding-bottom: .25rem;
            padding-left: .5rem;
            font-size: 50%;
        }
        .page-link {
            padding: .2rem .5rem;
            font-size: .8rem;
            line-height: 1.5;
        }

        .fa-file, .fa-external-link{
            margin-left: 10px;
            cursor: pointer;
            font-family: "Font Awesome 5 Pro";
        }

        blockquote{
            margin: 0 0 .5em 0;
            padding: .2em .7rem;
            border-left-width: 5px;
        }
        blockquote > p{
            margin-bottom: 0;
        }
        blockquote a{
            margin-right: .5rem;
        }
        .td-year{
            font-weight: 500;
            font-size: medium !important;
        }
        .cmp-text{
            border-radius: .25rem;
            border-color: rgba(0,0,0,.2);
        }
        .tab-tools{
            float: right;
            margin-top: -30px;
            margin-right: 10px !important;
        }
        .stock-tabs .nav-link{
            padding: .4rem .2rem .4rem .4rem;
        }
        sub{
            bottom: 0;
        }
        sub.red{
            color: var(--danger);
        }
        .card-body{
            padding: .5rem 1.25rem;
        }
        label{
            margin-bottom: unset;
        }
    </style>
</head>
<body class="hold-transition layout-top-nav layout-navbar-fixed text-sm pace-primary pace-done">
<div class="pace pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<!-- Site wrapper -->
<div id="app" class="wrapper">
    <div th:replace="common/navbar"></div>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header"></section>

        <section class="content">
            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <div id="info" class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <span v-html="stock.nameAndCode"></span> 评分:<span v-text="stock.rating.total"></span>
                                </h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" title="交易">
                                        <i class="fal fa-exchange-alt"></i>
                                    </button>
                                    <button v-if="stock.statuses != undefined" @click="openHeartModal(stock)" type="button" class="btn btn-tool" title="加入自选">
                                        <i class="fal fa-heart" :class="stock.statuses.find(s=>s.type===2)?'has-value':''"></i>
                                    </button>
                                    <eye :stock="stock"></eye>
                                    <button v-if="stock.statuses != undefined" @click="openExcludeModal(stock)" type="button" class="btn btn-tool"
                                            :title="getExcludeTitle(stock)">
                                        <i class="fal fa-times" :class="stock.statuses.find(s=>s.type===1)?'has-value':''"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="收起">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <blockquote v-if="stock.k && stock.stk" class="quote-secondary">
                                            <p>
                                                <span class="mr-4">收盘: <span v-text="stock.k.c"></span></span>
                                                <span class="mr-4">市值: <span v-text="(stock.marketCap).toFixed(2)+'亿'"></span></span>
                                                <span class="mr-4">PE<sup>TTM</sup>: <span v-text="stock.k.peTtm"></span></span>
                                                <span class="mr-4">PB<sup>TTM</sup>: <span v-text="stock.k.pbTtm"></span></span>
                                                <span class="mr-4">地域: <span v-text="stock.stk.address"></span></span>
                                            </p>
                                        </blockquote>
                                        <blockquote v-if="stock.stk" class="quote-secondary">
                                            <table><tr>
                                                <td class="text-nowrap pr-2">所属行业:</td>
                                                <td><template v-for="bk in bksByRps01">
                                                        <a style="float: left" target='_blank' :href="'/b/'+bk.code"> <!-- float: left 确保行业和下标在一行 -->
                                                            <span class="tippy" :title="bk.name" v-text="bk.name"></span>
                                                            <sub title="rps值" :class="(bk.rps.rps_01.percentile).toFixed(0) >= 85?'red':''" v-text="'('+(bk.rps.rps_01.percentile).toFixed(0)+')'"></sub>
                                                        </a>
                                                    </template></td>
                                            </tr></table>
                                        </blockquote>
                                        <blockquote v-if="stock.businesses" class="quote-secondary">
                                            <table><tr>
                                                <td class="text-nowrap pr-2">主营业务:</td>
                                                <td><template v-for="business in stock.businesses">
                                                        <a style="float: left" class="tippy" :title="business.keyword.name" v-text="business.keyword.name" target='_blank' :href="'/kw/'+business.keyword.id"></a>
                                                    </template></td>
                                            </tr></table>
                                        </blockquote>
                                        <blockquote v-if="stock.stk" class="quote-secondary">
                                            <table><tr>
                                                <td class="text-nowrap pr-2">主营产品:</td>
                                                <td><template v-for="product in stock.products">
                                                        <a style="float: left" class="tippy" :title="product.keyword.name" v-text="product.keyword.name" target='_blank' :href="'/kw/'+product.keyword.id"></a>
                                                    </template></td>
                                            </tr></table>
                                        </blockquote>
                                    </div>
                                    <div class="col-6">
                                        <stockbody :stock="stock" :tabs="['dayBar','weekBar','monthBar']" tab-show="news"></stockbody>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- 导航  -->

                <div class="row">
                    <div class="col-12">
                        <div id="navigator" class="card">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <blockquote class="quote-secondary">
                                            <p>
                                                <span class="mr-2">平台: </span>
                                                <a target="_blank" th:href="@{'http://www.xueqiu.com/S/'+${codeWithPlace} }">雪球</a>
                                                <a target="_blank" th:href="@{'http://guba.eastmoney.com/list,'+${code}+'.html'}">股吧</a>
                                                <a target="_blank" th:href="@{'http://www.taoguba.com.cn/guba_'+${#strings.toLowerCase(codeWithPlace)} }">淘股吧</a>
                                                <a target="_blank" th:href="@{'https://www.qichacha.com/search?key='+${name}}">企查查</a>
                                                <a target="_blank" href="http://moer.jiemian.com/stockcode.htm?code=cn_">摩尔经融</a>
                                            </p>
                                        </blockquote>
                                        <blockquote class="quote-secondary">
                                            <p>
                                                <span class="mr-2">搜索: </span>
                                                <a target="_blank" th:href="@{'https://ge1.azurewebsites.net/search?q='+${name}}">Google搜索</a>
                                                <a target="_blank" th:href="@{'https://magi.com/search?q='+${name}}">Magi搜索</a>
                                                <a target="_blank" th:href="@{'https://www.p5w.net/so/?keyword='+${name}}">全景搜索</a>
                                                <a target="_blank" th:href="@{'https://weixin.sogou.com/weixin?type=2&query='+${name}+'&ie=utf8'}">微信搜索</a>
                                                <a target="_blank" th:href="@{'http://s.weibo.com/wb/'+${name}+'&xsort=time&Refer=wb_realtime'}">微博搜索</a>
                                                <a target="_blank" th:href="@{'http://www.baidu.com/s?wd='+${name}+'%20site%3A(blog.sina.com.cn)&ie=utf-8&cl=3&t=12'}">新浪Blog</a>
                                                <a target="_blank" th:href="@{'http://www.baidu.com/s?wd='+${name}+'%20site%3A(blog.eastmoney.com)&ie=utf-8&cl=3&t=12'}">东财Blog</a>
                                                <a target="_blank" th:href="@{'http://news.baidu.com/ns?ct=0&rn=20&ie=utf-8&bs='+${name}+'&rsv_bp=1&sr=0&cl=2&f=8&prevct=0&word='+${name}+'&tn=newstitle&inputT=0'}">百度新闻</a>
                                            </p>
                                        </blockquote>
                                        <blockquote class="quote-secondary">
                                            <p>
                                                <span class="mr-2">公司: </span>
                                                <a target="_blank" th:href="@{'http://www.xueqiu.com/S/'+${codeWithPlace}+'/GSJJ'}">公司网页</a>
                                                <a target="_blank" th:href="@{'http://f9.eastmoney.com/soft/gp30.php?code='+${code}+ ${placeCode==1?'01':'02'} }">核心题材</a>
                                            </p>
                                        </blockquote>
                                        <blockquote class="quote-secondary">
                                            <p>
                                                <span class="mr-2">公告: </span>
                                                <a target="_blank" th:href="@{'http://www.baidu.com/s?wd='+${name}+' 招股说明书 site:('+${placeCode==1?'sse.com.cn':'szse.cn'}+')&ie=utf-8&cl=3&t=12&fr=news'}">招股说明书</a>
                                                <a target="_blank" th:href="@{'http://rs.p5w.net/c/'+${code}+'.shtml'}">投资者互动平台</a>
                                                <a target="_blank" th:href="@{'http://www.cninfo.com.cn/information/companyinfo.html?fulltext?'+${code} }">巨潮公告</a>
                                                <a target="_blank" th:href="@{'http://www.cninfo.com.cn/information/companyinfo.html?periodicalreport?'+${code} }">定期报告</a>
                                                <a target="_blank" th:href="@{'http://stockdata.stock.hexun.com/2008/ggqw.aspx?page=1&stockid='+${code} }">公告全文</a>
                                            </p>
                                            <p>
                                                <span class="mr-2">研报: </span>
                                                <a target="_blank" th:href="@{'http://data.eastmoney.com/report/hy,'+${code}+'_1.html'}">行业研报</a>
                                                <a target="_blank" th:href="@{'http://vip.stock.finance.sina.com.cn/q/go.php/vReport_List/kind/search/index.phtml?symbol='+${code}+'&orgname=&industry=&title=&t1=all'}">新浪研报</a>
                                                <a target="_blank" th:href="@{'http://search.10jqka.com.cn/search?w='+${name}+'&tid=info&tr=2&ft=1&st=0&tr=1&qs=pf'}">同花顺研报</a>
                                                <a target="_blank" th:href="@{'http://data.eastmoney.com/report/'+${code}+'.html'}">东方财富研报</a>
                                                <a target="_blank" th:href="@{'http://www.baidu.com/s?wd='+${name}+' site:(microbell.com)&ie=utf-8&cl=3&t=12&fr=news'}">迈博汇金研报</a>
                                            </p>
                                        </blockquote>
                                        <blockquote class="quote-secondary">
                                            <p>
                                                <span class="mr-2">业绩: </span>
                                                <a target="_blank" th:href="@{'http://f9.eastmoney.com/'+${#strings.toLowerCase(codeWithPlace)}+'.html#jggd'}">盈利预测</a>
                                                <a target="_blank" th:href="@{'http://vip.stock.finance.sina.com.cn/q/go.php/vFinanceAnalyze/kind/performance/index.phtml?symbol='+${code} }">业绩预告</a>
                                            </p>
                                            <p>
                                                <span class="mr-2">资金: </span>
                                                <a target="_blank" th:href="@{'http://data.eastmoney.com/Stock/lhb/'+${code}+'.html'}">龙虎榜</a>
                                                <a target="_blank" th:href="@{'http://data.eastmoney.com/zjlx/'+${code}+'.html'}">资金流入</a>
                                                <a target="_blank" th:href="@{'http://data.eastmoney.com/rzrq/detail/'+${code}+'.html'}">融资融券</a>
                                                <a target="_blank" th:href="@{'http://vip.stock.finance.sina.com.cn/q/go.php/vInvestConsult/kind/xsjj/index.phtml?symbol='+${#strings.toLowerCase(codeWithPlace)} }">限售解禁</a>
                                            </p>
                                            <p>
                                                <span class="mr-2">股东: </span>
                                                <a target="_blank" th:href="@{'http://f10.eastmoney.com/f10_v2/CompanyManagement.aspx?code='+${#strings.toLowerCase(codeWithPlace)}+'#cgbd-0'}">高管持股</a>
                                                <a target="_blank" th:href="@{'http://stockpage.10jqka.com.cn/'+${code}+'/holder/#holdernum'}">股东人数</a>
                                                <a target="_blank" th:href="@{'http://f10.eastmoney.com/f10_v2/ShareholderResearch.aspx?code='+${#strings.toLowerCase(codeWithPlace)} }">股东人数2</a>
                                                <a target="_blank" th:href="@{'http://stockpage.10jqka.com.cn/'+${code}+'/holder/'}">十大股东</a>
                                                <a target="_blank" th:href="@{'http://data.eastmoney.com/hsgtcg/StockHdStatistics.aspx?stock='+${code} }">沪深港通持股</a>
                                            </p>
                                        </blockquote>
                                        <blockquote class="quote-secondary">
                                            <span class="mr-2">估值：</span>
                                            <a target="_blank" th:href="@{'https://legulegu.com/s/'+${code}}">历史估值</a>
                                        </blockquote>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <button @click="$store.commit('setCurrentText', {code:stock.code, type:1})" type="button" class="btn btn-tool" title="新加">
                                                <i class="fal fa-plus"></i>
                                            </button>
                                            <button @click="getTexts()" type="button" class="btn btn-tool ml-3" title="刷新">
                                                <i class="fal fa-sync"></i>
                                            </button>
                                        </div>
                                        <datatable :="{...common.texts, ...stock.texts}">
                                            <template v-slot:title-and-detail="{row, rowNumber}">
                                                <b v-if="row.title"><span v-html="row.title"></span></b>
                                                <template v-if="row.desc">
                                                    <br v-if="row.title"><span v-html="row.desc"></span>
                                                </template>
                                                <template v-else>
                                                    <br v-if="row.title"><span v-html="row.content"></span>
                                                </template>
                                                <i v-if="row.content != null" @click="$store.commit('setCurrentText', row)" class="fal fa-file" title="详情/编辑"></i>
                                            </template>
                                            <template v-slot:action="{row, rowNumber}">
                                                <button type="button" class="btn btn-tool" title="删除">
                                                    <i @click="deleteText(row)" class="fal fa-trash-alt"></i>
                                                </button>
                                            </template>
                                        </datatable>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- 导航  -->

                <div class="row">
                    <div class="col-12">

                        <div id="fn" class="card">
                            <div class="card-header">
                                <h3 class="card-title">财务指标</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="收起">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <table  class="table table-hover table-bordered table-fn">
                                    <thead>
                                        <tr>
                                            <th v-for="item in stock.fn.types" :key="item.type" v-text="fnTypeDisplayName(item)" class="text-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,index) in stock.fn.table">
                                            <td v-for="type in stock.fn.types" v-text="item[type.type].dispValue" :class="item[type.type].quarterNumber==4?'td-year':''"></td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>

                            <div class="card-footer">
<pre>
<strong>财务数据 分析要点：</strong>
  1.毛利率是否在同行业里较高（大于30%~60%），毛利率是否同比增长。
  2.主营收入是否先于净利率增长：
  3.查看每股公积金是否>=3元(风生水起)。
  4.盈利预测：
  5.业绩拐点先行指标：经营活动现金流量净额 同比增长：
    (参考案例：安洁科技[002635]-2016Q1经营活动现金流量净额开始大幅增长。也有除外的，如订单类公司：神雾环保 [300156]，利亚德 [300296]，他们之所以牛是因为订单多，营收暴增。)
  6.销售净利率是否>5%(零售行业除外)，最好在15%以上；ROE是否>8% (来自 - 《投资的本源》 P31)；经营性净现金流与净利润比>70% (P69)
  7.杜邦分析：净资产收益率(ROE) = 销售净利润率    *    资产周转率    *   权益乘数
                         = (净利润/主营收入) * (主营收入/总资产) * (总资产/净资产)  (来自 - 《投资的本源》 P73)
    参考文档：<a target="_blank" href="https://note.youdao.com/web/#/file/recent/note/73F3E3712CE7492BBAE3539E12D62666/">浅析“杜邦分析法”</a>
  8.商誉是否太大。并购重组会产生商誉，具体参见：<a target="_blank" href="https://note.youdao.com/web/#/file/recent/note/3D9A0D55DC1A470BB5D8F4A879C477C5/">警惕商誉的恶之花</a>
  9.案例分析：<a target="_blank" href="https://note.youdao.com/web/#/file/recent/note/e36b07f35fd55c2864a8cdb175cc3637/">三安光电</a>
  10.大股东质押比例不能太高，<a target="_blank" href="http://data.eastmoney.com/gpzy/pledgeRatio.aspx">查询质押比例</a>。
</pre>
                            </div>
                        </div>

                    </div>
                </div><!-- 财务指标  -->

                <div class="row">
                    <div class="col-12">

                        <div id="report" class="card">
                            <div class="card-header p-0 border-bottom-0">
                                <ul class="nav nav-tabs pl-3" id="custom-tabs-four-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="report-tabs-1-tab" data-toggle="pill" href="#report-tabs-1" role="tab">个股研报</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="report-tabs-2-tab" data-toggle="pill" href="#report-tabs-2" role="tab">相关研报 (<span v-text="stock.reportSearch.data.length"></span>)</a>
                                    </li>
                                </ul>
                                <div class="card-tools tab-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="收起">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="tab-content" id="report-tabContent">
                                    <div class="tab-pane fade show active" id="report-tabs-1" role="tabpanel">
                                        <datatable :="{...common.report, ...stock.report}"></datatable>
                                    </div>
                                    <div class="tab-pane fade" id="report-tabs-2" role="tabpanel">
                                        <datatable :="{...common.reportSearch, ...stock.reportSearch}"></datatable>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- 研报  -->

                <div class="row">
                    <div class="col-12">

                        <div id="post" class="card">
                            <div class="card-header">
                                <h3 class="card-title">热点评论</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="收起">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <datatable :="{...common.posts, ...stock.posts}"></datatable>
                            </div>
                        </div>

                    </div>
                </div><!-- 热点评论  -->

                <div class="row">
                    <div class="col-12">

                        <div id="news" class="card">
                            <div class="card-header">
                                <h3 class="card-title">新闻</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="收起">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <datatable :="{...common.news, ...stock.newsList}"></datatable>
                            </div>

                            <div class="card-footer">
<pre>
  1.是否有股权激励： - <a target="_blank" href='http://www.iwencai.com/search?typed=0&preParams=&ts=1&f=1&qs=result_channel&selfsectsn=&querytype=&searchfilter=&tid=info&w=<%=index.getName()%>%20股权激励'>问财搜索</a>
  2.高管是否增持，公司是否有回购:
  3.员工持股计划：
  4.非公开发行：
  5.订单金额占主营收入：
  6.募集资金：
  7.牛散：
  8.资金流：
  9.互动易：<a target="_blank" href="http://ircs.p5w.net/ircs/interaction/queryQuestionByGszz.do?condition.stockcode=&condition.status=3&condition.dateFrom=&condition.dateTo=">投资者互动平台</a>
</pre>
                            </div>
                        </div>

                    </div>
                </div><!-- 新闻  -->

                <div class="row">
                    <div class="col-12">

                        <div id="xqnotice" class="card">
                            <div class="card-header">
                                <h3 class="card-title">雪球公告</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="收起">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <datatable :="{...common.xqnotice, ...stock.xqnotice}"></datatable>
                            </div>
                        </div>

                    </div>
                </div><!-- 雪球公告  -->

                <div class="row">
                    <div class="col-12">

                        <div id="nbjb" class="card">
                            <div class="card-header">
                                <h3 class="card-title">年报季报</h3>
                                <div class="card-tools">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" style="padding: 0 .5rem;" data-toggle="dropdown" data-offset="-52" aria-expanded="false">
                                            {{stock.notice_left ? stock.notice_left.title : '请选择'}}
                                        </button>
                                        <div class="dropdown-menu" role="menu" style="">
                                            <template v-for="notice in stock.notices">
                                                <a v-if="notice.content != null" @click="parseNotice('left', notice)" class="dropdown-item">{{notice.title + ' ('+tsFormat(notice.createdAt)+')'}}</a>
                                            </template>
                                        </div>
                                    </div>
                                    &nbsp;vs&nbsp;
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" style="padding: 0 .5rem;" data-toggle="dropdown" data-offset="-52" aria-expanded="false">
                                            {{stock.notice_right ? stock.notice_right.title : '请选择'}}
                                        </button>
                                        <div class="dropdown-menu" role="menu" style="">
                                            <template v-for="notice in stock.notices">
                                                <a v-if="notice.content != null" @click="parseNotice('right', notice)" class="dropdown-item">{{notice.title + ' ('+tsFormat(notice.createdAt)+')'}}</a>
                                            </template>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="收起">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <div id="accordion">
                                    <div v-for="(nbjb,index) in common.nbjb" class="card">
                                        <div class="card-header" style="padding: 0.3rem 1.25rem;">
                                            <h4 class="card-title w-100">
                                                <a class="d-block w-100" data-toggle="collapse" :href="'#collapse'+index">
                                                    {{nbjb.name}} (<span style="font-size: .8rem;" v-text="stock.notice_left.content[nbjb.code] != null?stock.notice_left.title:'-'"></span> vs <span style="font-size: .8rem;" v-text="stock.notice_right.content[nbjb.code] != null?stock.notice_right.title:'-'"></span>)
                                                </a>
                                            </h4>
                                        </div>
                                        <div :id="'collapse'+index" class="collapse" data-parent="#accordion" style="">
                                            <div class="card-body" style="padding: .25rem;">
                                                <table width="100%">
                                                    <tr>
                                                        <td width="50%"><textarea v-model="stock.notice_left.content[nbjb.code]" @keyup="parseNotice('left', stock.notice_left)" class="cmp-text sync-text" style="width: 100%" rows=10>{{}}</textarea></td>
                                                        <td width="50%"><textarea v-model="stock.notice_right.content[nbjb.code]" @keyup="parseNotice('right', stock.notice_right)" class="cmp-text sync-text" style="width: 100%" rows=10>{{}}</textarea></td>
                                                    </tr>
                                                    <tr><td colspan="2">
                                                        <div v-html="stock['notice_diff_'+nbjb.code]" class="sync-text" style="height: 200px;overflow: scroll;"></div>
                                                    </td></tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- 年报季报  -->

            </div>
        </section>

        <stockexclude :stock="stock"></stockexclude>
        <stockheart :stock="stock"></stockheart>

        <a id="back-to-top" href="#" class="btn btn-outline-primary back-to-top" style="display: none" role="button" aria-label="Scroll to top">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>

    <div th:replace="common/footer"></div>
</div>
<!-- ./wrapper -->
</body>
</html>
<div th:replace="common/js_public"></div>
<div th:replace="common/js_datatable"></div>
<div th:replace="common/js_tippy"></div>
<script src="/js/diff_match_patch.js"></script>
<script src="/js/jquery.scrollsync.js"></script>
<div th:replace="common/js_custom"></div>

<script th:inline="javascript">
    const code = [[${code}]];
    const codeWithPlace = [[${codeWithPlace}]];
    const name = [[${name}]];

    const config = {
        data() {
            return {
                navActive:'',
                loading: true,
                common:{
                    posts:{
                        columns: [
                            {title:"发帖人", data:"user"},
                            {title:"粉丝数", data:"followersCount"},
                            {title:"内容", data:"titleAndDetail"},
                            {title:"回复", data:"reply"},
                            {title:"日期", data:"createdAt"},
                        ],
                        columnDefs: [
                            { className: "text-nowrap text-center", "targets": [ 3,4 ] },
                            { className: "text-nowrap", "targets": [ 0,1 ] }
                        ],
                        tableClass:{'table-hover':true},
                        ordering: true,
                        order: [ [ 4, "desc" ] ],
                    },
                    texts:{
                        columns: [
                            {slot:"title-and-detail"},
                            {data:"insertTimeShow"},
                            {slot:"action"}
                        ],
                        columnDefs: [
                            { className: "text-nowrap text-center", "targets": [ 1 ] }
                        ],
                        tableClass:{'table-hover':true}
                    },
                    news:{
                        columns: [
                            {data:"type"},
                            {data:"title"},
                            {data:"createdAt"}
                        ],
                        columnDefs: [
                            { className: "text-nowrap text-center", "targets": [ 2 ] },
                            { className: "text-nowrap", "targets": [ 0 ] }
                        ],
                        tableClass:{'table-hover':true}
                    },
                    xqnotice:{
                        columns: [
                            {data:"title"},
                            {data:"reply"},
                            {data:"createdAt"}
                        ],
                        columnDefs: [
                            { className: "text-nowrap text-center", "targets": [ 2 ] },
                            { className: "text-nowrap", "targets": [ 0 ] }
                        ],
                        tableClass:{'table-hover':true},
                        pageLength: 25
                    },
                    report:{
                        columns: [
                            {data:"title"},
                            {data:"createdAt"}
                        ],
                        columnDefs: [
                            { className: "text-nowrap text-center", "targets": [ 1 ] },
                            { className: "text-nowrap", "targets": [ 0 ] }
                        ],
                        tableClass:{'table-hover':true}
                    },
                    reportSearch:{
                        columns: [
                            {data:"subTypeName"},
                            {data:"relatedStock"},
                            {data:"title"},
                            {data:"createdAt"}
                        ],
                        columnDefs: [
                            { className: "text-nowrap text-center", "targets": [ 1 ] },
                            { className: "text-nowrap", "targets": [ 0 ] }
                        ],
                        tableClass:{'table-hover':true}
                    },
                    nbjb:[
                        {code:100, name:'公司业务概要'},
                        {code:200, name:'经营情况讨论与分析'},
                        {code:300, name:'管理层讨论与分析'},
                    ]
                },
                stock:{
                    rating:{},
                    posts:{data:[]},
                    fn:{type:[], table:[]},
                    notice_left:{content:{}},
                    notice_right:{content:{}},
                    reportSearch:{data:[]}
                },
            }
        },
        methods:{
            dateFormat:function (date){
                return dateFormat(date);
            },
            parseNotice:function (pos, notice) {
                this.stock['notice_'+pos] = notice;
                let _this = this;
                // Object.keys(notice.content).forEach(e => {
                //     _this.stock['notice_'+pos+'_'+e] = json[e];
                // });
                for(i in this.common.nbjb){
                    let nbjb = this.common.nbjb[i];
                    if(this.stock.notice_left && this.stock.notice_left.content[nbjb.code] != null
                        && this.stock.notice_right && this.stock.notice_right.content[nbjb.code] != null){
                        let d = dmp.diff_main(this.stock.notice_left.content[nbjb.code], this.stock.notice_right.content[nbjb.code]);
                        this.stock['notice_diff_'+nbjb.code] = dmp.diff_prettyHtml(d);
                    }
                }
            },
            getTexts:function (){
                let _this = this;
                axios.get("/text/"+code+"/texts").then(function (res) {
                    let data = res.data.data;
                    data.forEach(text => {
                        let html = text.content;
                        let el = document.createElement('p');
                        el.innerHTML = html;
                        let t = el.innerText;
                        text.desc = t.length > 200 ? t.substring(0, 200) : t;
                        text.insertTimeShow = new Date(text.insertTime).format("yyyy-MM-dd hh:mm:ss");
                        text.modalId = '_stockTextModal';
                        text.modalNotEdit = true;
                    })
                    _this.stock.texts = {data: data};
                })
            },
            deleteText:function (text){
                let _this = this;
                jc.confirm({
                    content: "确定要删除?",
                    confirmAction: function () {
                        axios.delete("/text/"+text.id).then(function (res) {
                            if(res.data.success){
                                toastify({text: "删除成功"});
                                _this.getTexts();
                            }else{
                                toastify({text: "删除失败：\n"+res.data.data});
                            }
                        });
                    }
                });
            }
        },
        computed: {
            fnTypeDisplayName: function(){
                return (item) => {
                    return item.dispName == null ? item.name : item.dispName
                }
            },
            bksByRps01: function (){
                return this.stock.bks.sort((a, b) => {return b.rps.rps_01.percentile - a.rps.rps_01.percentile})
            }
        },
        mounted() {
            let _this = this;
            axios.get("/stock/"+code).then(function (res) {
                let data = res.data.data;
                Object.assign(_this.stock, data.stocks[0].stock)
                _this.stock.bks = data.bks;
                _this.stock.k = data.k;
                _this.stock.stk = data.stk;
                console.log('stock', _this.$data)

                _this.$nextTick(function () {
                    tippy('.tippy', {
                        arrow: true,
                        placement: 'bottom',
                        theme: 'light-border',
                        interactive: true,
                        interactiveBorder: 3,
                        allowHTML: true,
                        content: (reference) => {
                            let word = reference.getAttribute("title");
                            return `<div class="tippy-content">
                                <span>${word}: </span>
                                <a target="_blank" href="/q/${word}">本站搜索</a>
                                <a target="_blank" href="https://ge1.azurewebsites.net/search?q=${word}">Google搜索</a>
                                <a target="_blank" href="https://magi.com/search?q=${word}">Magi搜索</a></div>`;
                        }
                    });
                });
            });

            this.getTexts();

            axios.get("/text/"+code+"/post").then(function (res) {
                let data = res.data.data;
                data.forEach(post => {
                    //post.title = post.title == null ? post.desc : post.title;
                    if(post.userId === -1) {
                        post.followersCount = null;
                        post.user = '<a href="https://xueqiu.com/S/' + codeWithPlace + '" target="_blank">' + post.userName + '</a>';
                        post.reply = '<a href="https://xueqiu.com/S/' + codeWithPlace + '/' + post.postId + '" target="_blank">' + post.replyCount + '</a>';
                    }else if(post.userId === 1){
                        post.user = post.userName;
                        post.reply = post.content;
                        post.content = null;
                    }else {
                        post.user = '<a href="https://xueqiu.com/u/' + post.userId + '" target="_blank">' + post.userName + '</a>';
                        post.reply = '<a href="https://xueqiu.com/'+post.userId+'/'+post.postId+'" target="_blank">'+post.replyCount+'</a>';
                    }
                    post.createdAt = new Date(post.createdAt).format("yyyy-MM-dd hh:mm:ss");
                });
                _this.stock.posts = {data: data};
            });

            axios.get("/stock/news/"+code).then(function (res) {
                let data = res.data.data;
                data.forEach(row => {
                    row.title = row.title + '<i class="fal fa-external-link" onclick="window.open(\''+row.urlTarget+'\')"></i>'
                })
                _this.stock.newsList = {data: data}; //不能用_this.stock.news= {data:data}, 因为stock.news已经有值而且没有多加data：这一层，所有vue会报错
            });

            axios.get("/stock/xqnotice/"+code).then(function (res) {
                let data = res.data.data;
                _this.stock.xqnotice = {data: data};
            });

            axios.get("/text/"+code+"/4/200").then(function (res) {
                _this.stock.notices = res.data.data;
                _this.stock.notices.forEach(notice => {
                    let json = JSON.parse(notice.content);
                    notice.content = json;
                })
                if(_this.stock.notices.length > 1){
                    _this.parseNotice('left', _this.stock.notices[0]);
                    _this.parseNotice('right', _this.stock.notices[1]);
                }
            });

            axios.get("/text/"+code+"/report").then(function (res) {
                let data = res.data.data;
                data.forEach(row => {
                    row.createdAt = new Date(row.createdAt==null?row.insertTime:row.createdAt).format("yyyy-MM-dd hh:mm:ss");
                })
                _this.stock.report = {data: data};
            });

            axios.get("/search/1/"+name+"?type=report").then(function (res) {
                let data = res.data.data;
                data.list.forEach(row => {
                    row.relatedStock = row.stock?row.stock.nameAndCodeWithLink:'-'
                    row.createdAt = new Date(row.updateTime==null?row.insertTime:row.updateTime).format("yyyy-MM-dd hh:mm:ss");
                })
                _this.stock.reportSearch = {data: data.list};
            });

            axios.get("/fn/"+code).then(function (res) {
                let data = res.data.data;
                _this.stock.fn = data;
            });

        },
        updated() {
        },
        setup(){ //vue-composition-api
            const count = Vue.ref(0);
        }
    };
    let app = createApp(config);
    var dmp = new diff_match_patch();
    app.config.globalProperties.dmp = dmp;

    $('.sync-text').scrollsync();

</script>