<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}+' - 小智慧'">小智慧 - 股票</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontawesome5pro@5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="/adminlte/plugins/pace-progress/themes/black/pace-theme-minimal.css">
    <link rel="stylesheet" href="/css/public.css">
    <style>
        @media (min-width: 1200px) {
            .img-width img {
                width: 410px;
                padding: 2px;
                text-align: center;
            }
            .container{
                max-width: 1350px;
            }
        }
        @media (max-width: 650px) {
            .container{
                min-width: 615px;
            }

        }

        table.dataTable tbody th, table.dataTable tbody td, table.dataTable thead th, table.dataTable thead td {
            padding: 1px 2px;
        }
        div.dataTables_wrapper div.dataTables_info {
            padding-top: .1em;
            float: left;
        }
        div.dataTables_wrapper div.dataTables_filter{
            padding-top: .1em;
            float: right;
            margin-right: .2rem;
        }
        div.dataTables_wrapper div.dataTables_paginate{
            float: right;
        }
        div.dataTables_wrapper div.dataTables_paginate ul.pagination{
            margin: 0;
        }
        .table thead th {
            border-bottom: 1px solid #dee2e6;
            padding: 0;
            color: #9ba2a8;
            text-align: center;
            font-size: smaller;
        }
        .table-fn tbody td {
            padding: .1rem;
            text-align: right;
            font-size: .9rem;
        }
        table.dataTable>thead .sorting:before,
        table.dataTable>thead .sorting:after,
        table.dataTable>thead .sorting_asc:before,
        table.dataTable>thead .sorting_asc:after,
        table.dataTable>thead .sorting_desc:before,
        table.dataTable>thead .sorting_desc:after,
        table.dataTable>thead .sorting_asc_disabled:before,
        table.dataTable>thead .sorting_asc_disabled:after,
        table.dataTable>thead .sorting_desc_disabled:before,
        table.dataTable>thead .sorting_desc_disabled:after{
            bottom: 0;
        }
        .pagination-sm {
            margin: .1rem 0;
        }
        .custom-select-sm, .form-control-sm {
            height: calc(1.5rem);
            padding-top: .15rem;
            padding-bottom: .25rem;
            padding-left: .5rem;
            font-size: 50%;
        }
        .page-link {
            padding: .2rem .5rem;
            font-size: .8rem;
            line-height: 1.5;
        }

        .fa-file, .fa-external-link{
            margin-left: 10px;
            cursor: pointer;
            font-family: "Font Awesome 5 Pro";
        }

        blockquote{
            margin: 0 0 .5em 0;
            padding: .2em .7rem;
            border-left-width: 5px;
        }
        blockquote > p{
            margin-bottom: 0;
        }
        blockquote a{
            margin-right: .5rem;
        }
        .td-year{
            font-weight: 500;
            font-size: medium !important;
        }
        .cmp-text{
            border-radius: .25rem;
            border-color: rgba(0,0,0,.2);
        }
    </style>
</head>
<body class="hold-transition layout-top-nav layout-navbar-fixed text-sm pace-primary pace-done">
<div class="pace pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<!-- Site wrapper -->
<div id="app" class="wrapper">
    <div th:replace="common/navbar"></div>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header"></section>

        <section class="content">
            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <div id="navigator" class="card">
                            <div class="card-header">
                                <h3 class="card-title">导航</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="收起">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <blockquote class="quote-secondary">
                                            <p>
                                                <a target="_blank" th:href="@{'http://www.xueqiu.com/S/'+${codeWithPlace} }">雪球</a>
                                                <a target="_blank" th:href="@{'http://guba.eastmoney.com/list,'+${code}+'.html'}">股吧</a>
                                                <a target="_blank" th:href="@{'http://www.taoguba.com.cn/guba_'+${#strings.toLowerCase(codeWithPlace)} }">淘股吧</a>
                                                <a target="_blank" th:href="@{'http://s.weibo.com/wb/'+${name}+'&xsort=time&Refer=wb_realtime'}">微博搜索</a>
                                                <a target="_blank" th:href="@{'http://www.baidu.com/s?wd='+${name}+'%20site%3A(blog.sina.com.cn)&ie=utf-8&cl=3&t=12'}">新浪Blog</a>
                                                <a target="_blank" th:href="@{'http://www.baidu.com/s?wd='+${name}+'%20site%3A(blog.eastmoney.com)&ie=utf-8&cl=3&t=12'}">东财Blog</a>
                                                <a target="_blank" th:href="@{'https://www.qichacha.com/search?key='+${name}}">企查查</a>
                                            </p>
                                        </blockquote>
                                        <blockquote class="quote-secondary">
                                            <p>
                                                <a target="_blank" href="http://moer.jiemian.com/stockcode.htm?code=cn_">摩尔经融</a>
                                                <a target="_blank" href="http://114.80.159.18/CorpEventsWeb/NewsEventAlert.aspx?windcode=&t=1">大事提醒</a>
                                                <a target="_blank" th:href="@{'https://weixin.sogou.com/weixin?type=2&query='+${name}}">微信搜索</a>
                                                <a target="_blank" th:href="@{'http://news.baidu.com/ns?ct=0&rn=20&ie=utf-8&bs='+${name}+'&rsv_bp=1&sr=0&cl=2&f=8&prevct=0&word='+${name}+'&tn=newstitle&inputT=0'}">百度新闻</a>
                                                <a target="_blank" th:href="@{'http://www.xueqiu.com/S/'+${codeWithPlace}+'/GSJJ'}">公司网页</a>
                                                <a target="_blank" th:href="@{'http://f9.eastmoney.com/soft/gp30.php?code='+${code}+ ${placeCode==1?'01':'02'} }">核心题材</a>
                                                <a target="_blank" th:href="@{'http://data.eastmoney.com/rzrq/detail/'+${code}+'.html'}">融资融券</a>
                                            </p>
                                        </blockquote>
                                        <blockquote class="quote-secondary">
                                            <p>
                                                <a target="_blank" th:href="@{'http://www.baidu.com/s?wd='+${name}+' 招股说明书 site:('+${placeCode==1?'sse.com.cn':'szse.cn'}+')&ie=utf-8&cl=3&t=12&fr=news'}">招股说明书</a>
                                                <a target="_blank" th:href="@{'http://rs.p5w.net/c/'+${code}+'.shtml'}">投资者互动平台</a>
                                                <a target="_blank" th:href="@{'http://www.cninfo.com.cn/information/companyinfo.html?fulltext?'+${code} }">巨潮公告</a>
                                                <a target="_blank" th:href="@{'http://www.cninfo.com.cn/information/companyinfo.html?periodicalreport?'+${code} }">定期报告</a>
                                                <a target="_blank" th:href="@{'http://stockdata.stock.hexun.com/2008/ggqw.aspx?page=1&stockid='+${code} }">公告全文</a>
                                                <a target="_blank" th:href="@{'http://data.eastmoney.com/report/hy,'+${code}+'_1.html'}">行业研报</a>
                                                <a target="_blank" th:href="@{'http://vip.stock.finance.sina.com.cn/q/go.php/vReport_List/kind/search/index.phtml?symbol='+${code}+'&orgname=&industry=&title=&t1=all'}">新浪研报</a>
                                                <a target="_blank" th:href="@{'http://search.10jqka.com.cn/search?w='+${name}+'&tid=info&tr=2&ft=1&st=0&tr=1&qs=pf'}">同花顺研报</a>
                                                <a target="_blank" th:href="@{'http://data.eastmoney.com/report/'+${code}+'.html'}">东方财富研报</a>
                                                <a target="_blank" th:href="@{'http://www.baidu.com/s?wd='+${name}+' site:(microbell.com)&ie=utf-8&cl=3&t=12&fr=news'}">迈博汇金研报</a>
                                            </p>
                                        </blockquote>
                                        <blockquote class="quote-secondary">
                                            <p>
                                                <a target="_blank" th:href="@{'http://f9.eastmoney.com/'+${#strings.toLowerCase(codeWithPlace)}+'.html#jggd'}">盈利预测</a>
                                                <a target="_blank" th:href="@{'http://vip.stock.finance.sina.com.cn/q/go.php/vFinanceAnalyze/kind/performance/index.phtml?symbol='+${code} }">业绩预告</a>
                                                <a target="_blank" th:href="@{'http://f10.eastmoney.com/f10_v2/CompanyManagement.aspx?code='+${#strings.toLowerCase(codeWithPlace)}+'#cgbd-0'}">高管持股</a>
                                                <a target="_blank" th:href="@{'http://data.eastmoney.com/Stock/lhb/'+${code}+'.html'}">龙虎榜</a>
                                                <a target="_blank" th:href="@{'http://data.eastmoney.com/zjlx/'+${code}+'.html'}">资金流入</a>
                                                <a target="_blank" th:href="@{'http://vip.stock.finance.sina.com.cn/q/go.php/vInvestConsult/kind/xsjj/index.phtml?symbol='+${#strings.toLowerCase(codeWithPlace)} }">限售解禁</a>
                                                <a target="_blank" th:href="@{'http://stockpage.10jqka.com.cn/'+${code}+'/holder/'}">十大股东</a>
                                            </p>
                                            <p>
                                                <a target="_blank" th:href="@{'http://stockpage.10jqka.com.cn/'+${code}+'/holder/#holdernum'}">股东人数</a>
                                                <a target="_blank" th:href="@{'http://f10.eastmoney.com/f10_v2/ShareholderResearch.aspx?code='+${#strings.toLowerCase(codeWithPlace)} }">股东人数2</a>
                                                <a target="_blank" th:href="@{'http://data.eastmoney.com/hsgtcg/StockHdStatistics.aspx?stock='+${code} }">沪深港通持股</a>
                                            </p>
                                        </blockquote>
                                    </div>
                                    <div class="col-6">
                                        <blockquote class="quote-secondary">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                            <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">

                        <div id="fn" class="card">
                            <div class="card-header">
                                <h3 class="card-title">财务指标</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="收起">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <table  class="table table-hover table-bordered table-fn">
                                    <thead>
                                        <tr>
                                            <th v-for="item in stock.fn.types" :key="item.type" v-text="fnTypeDisplayName(item)" class="text-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,index) in stock.fn.table">
                                            <td v-for="type in stock.fn.types" v-text="item[type.type].dispValue" :class="item[type.type].quarterNumber==4?'td-year':''"></td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">

                        <div id="report" class="card">
                            <div class="card-header">
                                <h3 class="card-title">研报</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="收起">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <datatable :="{...common.report, ...stock.report}"></datatable>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">

                        <div id="post" class="card">
                            <div class="card-header">
                                <h3 class="card-title">热点评论</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="收起">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <datatable :="{...common.posts, ...stock.posts}"></datatable>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">

                        <div id="news" class="card">
                            <div class="card-header">
                                <h3 class="card-title">新闻</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="收起">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <datatable :="{...common.news, ...stock.news}"></datatable>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">

                        <div id="notice" class="card">
                            <div class="card-header">
                                <h3 class="card-title">雪球公告</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="收起">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <datatable :="{...common.notice, ...stock.notice}"></datatable>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">

                        <div id="nbjb" class="card">
                            <div class="card-header">
                                <h3 class="card-title">年报季报</h3>
                                <div class="card-tools">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" style="padding: 0 .5rem;" data-toggle="dropdown" data-offset="-52" aria-expanded="false">
                                            2021年年度报告
                                        </button>
                                        <div class="dropdown-menu" role="menu" style="">
                                            <a href="#" class="dropdown-item">Add new event</a>
                                            <a href="#" class="dropdown-item">Clear events</a>
                                            <a href="#" class="dropdown-item">View calendar</a>
                                        </div>
                                    </div>
                                    &nbsp;vs&nbsp;
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" style="padding: 0 .5rem;" data-toggle="dropdown" data-offset="-52" aria-expanded="false">
                                            2020年年度报告
                                        </button>
                                        <div class="dropdown-menu" role="menu" style="">
                                            <a href="#" class="dropdown-item">Add new event</a>
                                            <a href="#" class="dropdown-item">Clear events</a>
                                            <a href="#" class="dropdown-item">View calendar</a>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="收起">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" style="padding: 0.3rem 1.25rem;">
                                            <h4 class="card-title w-100">
                                                <a class="d-block w-100" data-toggle="collapse" href="#collapse1">
                                                    公司业务概要
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse1" class="collapse show" data-parent="#accordion" style="">
                                            <div class="card-body" style="padding: .25rem;">
                                                <table width="100%"><tr>
                                                    <td width="50%">
                                                        <textarea class="cmp-text" id="text1" style="width: 100%" rows=10>I am the very model of a modern Major-General,
I've information vegetable, animal, and mineral,
I know the kings of England, and I quote the fights historical,
From Marathon to Waterloo, in order categorical.</textarea></td>
                                                    <td width="50%">
                                                        <textarea class="cmp-text" id="text2" style="width: 100%" rows=10>I am the very model of a cartoon individual,
My animation's comical, unusual, and whimsical,
I'm quite adept at funny gags, comedic theory I have read,
From wicked puns and stupid jokes to anvils that drop on your head.</textarea></td>
                                                </tr></table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" style="padding: 0.3rem 1.25rem;">
                                            <h4 class="card-title w-100">
                                                <a class="d-block w-100" data-toggle="collapse" href="#collapse2">
                                                    经营情况讨论与分析
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse2" class="collapse" data-parent="#accordion" style="">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                                                3
                                                wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                                laborum
                                                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                                nulla
                                                assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                                beer
                                                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                                labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>

        <a id="back-to-top" href="#" class="btn btn-outline-primary back-to-top" style="display: none" role="button" aria-label="Scroll to top">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>

    <div th:replace="common/footer"></div>
</div>
<!-- ./wrapper -->
</body>
</html>
<div th:replace="common/js_public"></div>
<div th:replace="common/js_datatable"></div>
<div th:replace="common/js_custom"></div>

<script th:inline="javascript">
    const code = [[${code}]];
    const codeWithPlace = [[${codeWithPlace}]];

    const config = {
        data() {
            return {
                loading: true,
                common:{
                    posts:{
                        columns: [
                            {title:"发帖人", data:"user"},
                            {title:"粉丝数", data:"followersCount"},
                            {title:"内容", data:"titleAndDetail"},
                            {title:"回复", data:"reply"},
                            {title:"日期", data:"createdAt"},
                        ],
                        columnDefs: [
                            { className: "text-nowrap text-center", "targets": [ 3,4 ] },
                            { className: "text-nowrap", "targets": [ 0 ] }
                        ],
                        tableClass:{'table-hover':true}
                    },
                    news:{
                        columns: [
                            {data:"type"},
                            {data:"title"},
                            {data:"createdAt"}
                        ],
                        columnDefs: [
                            { className: "text-nowrap text-center", "targets": [ 2 ] },
                            { className: "text-nowrap", "targets": [ 0 ] }
                        ],
                        tableClass:{'table-hover':true}
                    },
                    notice:{
                        columns: [
                            {data:"title"},
                            {data:"reply"},
                            {data:"createdAt"}
                        ],
                        columnDefs: [
                            { className: "text-nowrap text-center", "targets": [ 2 ] },
                            { className: "text-nowrap", "targets": [ 0 ] }
                        ],
                        tableClass:{'table-hover':true},
                        pageLength: 25
                    },
                    report:{
                        columns: [
                            {data:"titleAndDetail"},
                            {data:"createdAt"}
                        ],
                        columnDefs: [
                            { className: "text-nowrap text-center", "targets": [ 1 ] },
                            { className: "text-nowrap", "targets": [ 0 ] }
                        ],
                        tableClass:{'table-hover':true}
                    }
                },
                stock:{
                    posts:{data:[]},
                    fn:{type:[], table:[]}
                }
            }
        },
        methods:{
            dateFormat:function (date){
                return dateFormat(date);
            },
        },
        computed: {
            fnTypeDisplayName: function(){
                return (item) => {
                    return item.dispName == null ? item.name : item.dispName
                }
            }
        },
        mounted() {
            let _this = this;
            axios.get("/text/post/"+code).then(function (res) {
                let data = res.data.data;
                data.forEach(post => {
                    //post.title = post.title == null ? post.desc : post.title;
                    if(post.userId == -1) {
                        post.followersCount = null;
                        post.user = '<a href="https://xueqiu.com/S/' + codeWithPlace + '" target="_blank">' + post.userName + '</a>';
                        post.reply = '<a href="https://xueqiu.com/S/' + codeWithPlace + '/' + post.postId + '" target="_blank">' + post.replyCount + '</a>';
                    }else if(post.userId === 1){
                        post.user = post.userName;
                        post.reply = post.content;
                        post.content = null;
                    }else {
                        post.user = '<a href="https://xueqiu.com/u/' + post.userId + '" target="_blank">' + post.userName + '</a>';
                        post.reply = '<a href="https://xueqiu.com/'+post.userId+'/'+post.postId+'" target="_blank">'+post.replyCount+'</a>';
                    }
                    post.createdAt = new Date(post.createdAt).format("yyyy-MM-dd hh:mm:ss");
                });
                _this.stock.posts = {data: data};
            });

            axios.get("/stock/news/"+code).then(function (res) {
                let data = res.data.data;
                data.forEach(row => {
                    row.title = row.title + '<i class="fal fa-external-link" onclick="window.open(\''+row.urlTarget+'\')"></i>'
                })
                _this.stock.news = {data: data};
            });

            axios.get("/stock/notice/"+code).then(function (res) {
                let data = res.data.data;
                _this.stock.notice = {data: data};
            });

            axios.get("/text/report/"+code).then(function (res) {
                let data = res.data.data;
                data.forEach(row => {
                    row.createdAt = new Date(row.createdAt).format("yyyy-MM-dd hh:mm:ss");
                })
                _this.stock.report = {data: data};
            });

            axios.get("/fn/"+code).then(function (res) {
                let data = res.data.data;
                _this.stock.fn = data;
            });

            if (localStorage.stockLookPool) {
                store.commit('setStockLookPool', getDataFromLocalStorage('stockLookPool'));
            }
        },
        updated() {
        }
    };
    createApp(config);

</script>