<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:utext="${title} != null?'小智慧 - '+${title}:'小智慧'"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
<!--    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">-->
    <!-- DataTables -->
    <link rel="stylesheet" href="/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="/adminlte/plugins/pace-progress/themes/black/pace-theme-loading-bar.css">
    <link rel="stylesheet" href="/css/public.css">
    <style>
        a.dropdown-item, div.dropdown-item a{
            cursor: pointer;
        }
        div.dropdown-item a{
            margin-right: 10px;
        }
        .dropdown-divider{
            margin: unset;
        }
    </style>
</head>
<body class="hold-transition layout-top-nav layout-navbar-fixed text-sm pace-primary pace-done">
<div class="pace pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<!-- Site wrapper -->
<div id="app" class="wrapper">
    <div th:replace="common/navbar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header"></section>

        <!-- Main content -->
        <section class="content">
            <div class="container-md"><!-- 如果要全屏:container-fluid -->
                <div class="row">
                    <div class="col-12 col-md-10" style="margin: auto">
                        <!-- Default box -->
                        <div class="card" v-show="!loading" v-if="!loading" style="display: none">
                            <div class="card-header">
                                <h3 v-text="title" class="card-title"></h3>
                                <div class="custom-control custom-control-inline custom-checkbox" style="margin-left: .5rem;margin-top: .1rem;">
                                    <input v-model="selectAllStocks" class="custom-control-input" type="checkbox" id="bk-rb-0" name="bkFilterAll" checked/>
                                    <label for="bk-rb-0" class="custom-control-label">全部股票<span v-text="' ('+total+')'"></span></label>
                                </div>
                                <div class="card-tools">
                                    <div class="btn-group ml-1">
                                        <button type="button" class="btn btn-primary btn-xs dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                            <span v-text="seletedStrategyName"></span>
                                        </button>
                                        <div class="dropdown-menu left-10" role="menu">
                                            <template v-for="strategy in common.strategies">
                                                <div v-if="strategy.code==0" class="dropdown-divider"></div>
                                                <a v-else @click="filterByStrategy(strategy.code, strategy.name)" v-text="strategy.name" class="dropdown-item"></a>
                                            </template>
                                        </div>
                                    </div>
                                    <div class="btn-group ml-1">
                                        <button type="button" class="btn btn-primary btn-xs dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                            <span v-text="seletedRpsName"></span>
                                        </button>
                                        <div class="dropdown-menu" role="menu">
                                            <a @click="sortByRating" class="dropdown-item">按个股评分排序(00)</a>
                                            <a @click="sortByRps01" class="dropdown-item">按板块60日涨幅排序(01)</a>
                                            <div class="dropdown-divider"></div>
                                            <div class="dropdown-item">
                                                <a @click="sortByFnRps($event, '110')">收入增长率(%)</a>
                                                <a @click="sortByFnRps($event, '111')">净利润增长率(%)</a>
                                            </div>
                                            <div class="dropdown-item">
                                                <a @click="sortByFnRps($event, '106')">销售毛利率(%)</a>
                                                <a @click="sortByFnRps($event, '123')">经营现金净流量与净利润的比率(%)</a>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <template v-for="rps in common.rpss">
                                                <div v-if="rps.code==0" class="dropdown-divider"></div>
                                                <a v-else @click="sortByRps(rps)" v-text="rps.name+'('+rps.codeNo+')'" class="dropdown-item"></a>
                                            </template>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div v-if="bksTopN.length > 0" class="row">
                                    <div class="col-12">
                                        <div class="callout callout-info">
                                            <!-- 板块 -->
                                            <div class="form-group">
                                                <div v-for="(bk,index) in bksTopN" :key="bk.code" class="custom-control custom-control-inline custom-radio">
                                                    <input @change="filterBk(bk)" :value="bk.code" v-model="bkSelected" :id="'bk-rb-'+bk.code" class="custom-control-input" type="radio" name="bkFilter"/>
                                                    <label :for="'bk-rb-'+bk.code" v-text="bk.name+' ('+bk.stocks.length+')'" class="custom-control-label"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="common.niusans.length > 0" class="row">
                                    <div class="col-12">
                                        <div class="callout callout-info">
                                            <!-- 牛散 -->
                                            <div class="form-group">
                                                <div class="custom-control custom-control-inline custom-checkbox">
                                                    <input v-model="selectAllNiusan" class="custom-control-input" type="checkbox" id="niusan-cb-0" name="niusanFilter" checked/>
                                                    <label for="niusan-cb-0" class="custom-control-label">全部牛散</label>
                                                </div>
                                                <div v-for="(niusan,index) in common.niusans" :key="niusan.key" class="custom-control custom-control-inline custom-checkbox">
                                                    <input v-model="niusanSelected" :value="niusan.key" :id="'niusan-cb-'+niusan.key" number class="custom-control-input" type="checkbox" name="niusanFilter"/>
                                                    <label :for="'niusan-cb-'+niusan.key" v-text="niusan.text+' ('+niusan.count+')'" class="custom-control-label"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer"></div>
                            <!-- /.card-footer-->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>

                <div class="row">
                    <section v-for="idx in [0,1]" class="col-lg-6 connectedSortable">
                        <!-- Custom tabs (Charts with tabs)-->
                        <template v-for="(stk, index) in stocks">
                            <div class="card" v-if="index % 2 === idx" :key="stk.stock.code">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <span v-html="stk.stock.nameAndCodeWithLink"></span> 评分:<span v-text="stk.stock.rating.total"></span>
                                    </h3>
                                    <div class="card-tools">
                                        <eye :stock="stk.stock"></eye>
                                        <button title="加入自选" type="button" class="btn btn-tool">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div><!-- /.card-header -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-1 col-md-1 pr-0">
                                            <div class="nav flex-column nav-tabs h-100" role="tablist" aria-orientation="vertical">
                                                <a class="nav-link" :class="{active:selectedTabIndex===1}" :href="'#tab-1-'+stk.stock.code" data-toggle="tab">日线</a>
                                                <a class="nav-link" :class="{active:selectedTabIndex===2}" :href="'#tab-2-'+stk.stock.code" data-toggle="tab">周线</a>
                                                <a class="nav-link" :class="{active:selectedTabIndex===3}" :href="'#tab-3-'+stk.stock.code" data-toggle="tab">月线</a>
                                                <a class="nav-link" :class="{active:selectedTabIndex===4}" :href="'#tab-4-'+stk.stock.code" data-toggle="tab">新闻</a>
                                            </div>
                                        </div>
                                        <div class="col-11 col-sm-11">
                                            <div class="tab-content p-0">
                                                <div class="tab-pane" :class="{active:selectedTabIndex===1}" :id="'tab-1-'+stk.stock.code">
                                                    <span v-html="stk.stock.dayBarImage"></span>
                                                    <span style="display: flex;margin-right: 6px;">
                                                        <img height="80" style="margin-top: -80px;width: 100%" :src="'data:image/png;base64,'+stk.stock.dayFlowImage">
                                                    </span>
                                                </div>
                                                <div class="tab-pane" :class="{active:selectedTabIndex===2}" :id="'tab-2-'+stk.stock.code">
                                                    <span v-html="stk.stock.weekBarImage"></span>
                                                </div>
                                                <div class="tab-pane" :class="{active:selectedTabIndex===3}" :id="'tab-3-'+stk.stock.code">
                                                    <span v-html="stk.stock.monthBarImage"></span>
                                                </div>
                                                <div class="tab-pane" :class="{active:selectedTabIndex===4}" :id="'tab-4-'+stk.stock.code">
                                                    <datatable :="{...common.news, ...stk.stock.news}"></datatable>
                                                </div>

                                                <div class="tab-pane" :id="'tab-12-'+stk.stock.code" style="display: none">
                                                    <div class="row">
                                                        <div class="col-12  col-sm-12">
                                                            <div class="d-flex justify-content-between align-items-center border-bottom">
                                                                <p class="text-info">[调研]</p>
                                                                <p class="d-flex flex-column text-right mb-0">
                                                                    <span class="font-weight-bold"><i class="ion ion-android-arrow-up text-success"></i> 12% </span>
                                                                    <span class="text-muted">CONVERSION RATE</span>
                                                                </p>
                                                            </div>
                                                            <div class="d-flex justify-content-between align-items-center border-bottom">
                                                                <p class="text-success text-xl"><i class="ion ion-ios-refresh-empty"></i></p>
                                                                <p class="d-flex flex-column text-right mb-0"><span class="font-weight-bold"><i class="ion ion-android-arrow-up text-success"></i> 12% </span><span class="text-muted">CONVERSION RATE</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12  col-sm-12">
                                                            <div class="float-right">
                                                                <ul class="pagination pagination-sm">
                                                                    <li class="page-item"><a href="#" class="page-link">&laquo;</a></li>
                                                                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                                                                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                                                                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                                                                    <li class="page-item"><a href="#" class="page-link">&raquo;</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.card-body -->

                                <div class="card-footer"></div>

                            </div>
                        </template>
                        <!-- /.card -->
                    </section>
                </div>

                <div class="row" style="display: none">
                    <!-- Left col -->
                    <section class="col-lg-6 connectedSortable">
                        <!-- Custom tabs (Charts with tabs)-->

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Online Store Overview</h3>
                                <div class="card-tools">
                                    <a href="#" class="btn btn-sm btn-tool">
                                        <i class="fas fa-download"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-tool">
                                        <i class="fas fa-bars"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                                    <p class="text-success text-xl">
                                        <i class="ion ion-ios-refresh-empty"></i>
                                    </p>
                                    <p class="d-flex flex-column text-right">
                                        <span class="font-weight-bold">
                                          <i class="ion ion-android-arrow-up text-success"></i> 12%
                                        </span>
                                        <span class="text-muted">CONVERSION RATE</span>
                                    </p>
                                </div>
                                <!-- /.d-flex -->
                                <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                                    <p class="text-warning text-xl">
                                        <i class="ion ion-ios-cart-outline"></i>
                                    </p>
                                    <p class="d-flex flex-column text-right">
                                        <span class="font-weight-bold">
                                          <i class="ion ion-android-arrow-up text-warning"></i> 0.8%
                                        </span>
                                        <span class="text-muted">SALES RATE</span>
                                    </p>
                                </div>
                                <!-- /.d-flex -->
                                <div class="d-flex justify-content-between align-items-center mb-0">
                                    <p class="text-danger text-xl">
                                        <i class="ion ion-ios-people-outline"></i>
                                    </p>
                                    <p class="d-flex flex-column text-right">
                                        <span class="font-weight-bold">
                                          <i class="ion ion-android-arrow-down text-danger"></i> 1%
                                        </span>
                                        <span class="text-muted">REGISTRATION RATE</span>
                                    </p>
                                </div>
                                <!-- /.d-flex -->
                            </div>
                        </div>

                        <!-- TO DO List -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="ion ion-clipboard mr-1"></i>
                                    To Do List
                                </h3>

                                <div class="card-tools">
                                    <ul class="pagination pagination-sm">
                                        <li class="page-item"><a href="#" class="page-link">&laquo;</a></li>
                                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                                        <li class="page-item"><a href="#" class="page-link">3</a></li>
                                        <li class="page-item"><a href="#" class="page-link">&raquo;</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <ul class="todo-list" data-widget="todo-list">
                                    <li>
                                        <!-- drag handle -->
                                        <span class="handle">
                                          <i class="fas fa-ellipsis-v"></i>
                                          <i class="fas fa-ellipsis-v"></i>
                                        </span>
                                        <!-- checkbox -->
                                        <div  class="icheck-primary d-inline ml-2">
                                            <input type="checkbox" value="" name="todo1" id="todoCheck1">
                                            <label for="todoCheck1"></label>
                                        </div>
                                        <!-- todo text -->
                                        <span class="text">Design a nice theme</span>
                                        <!-- Emphasis label -->
                                        <small class="badge badge-danger"><i class="far fa-clock"></i> 2 mins</small>
                                        <!-- General tools such as edit or delete-->
                                        <div class="tools">
                                            <i class="fas fa-edit"></i>
                                            <i class="fas fa-trash-o"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="handle">
                                          <i class="fas fa-ellipsis-v"></i>
                                          <i class="fas fa-ellipsis-v"></i>
                                        </span>
                                        <div  class="icheck-primary d-inline ml-2">
                                            <input type="checkbox" value="" name="todo2" id="todoCheck2" checked>
                                            <label for="todoCheck2"></label>
                                        </div>
                                        <span class="text">Make the theme responsive</span>
                                        <small class="badge badge-info"><i class="far fa-clock"></i> 4 hours</small>
                                        <div class="tools">
                                            <i class="fas fa-edit"></i>
                                            <i class="fas fa-trash-o"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="handle">
                                          <i class="fas fa-ellipsis-v"></i>
                                          <i class="fas fa-ellipsis-v"></i>
                                        </span>
                                        <div  class="icheck-primary d-inline ml-2">
                                            <input type="checkbox" value="" name="todo3" id="todoCheck3">
                                            <label for="todoCheck3"></label>
                                        </div>
                                        <span class="text">Let theme shine like a star</span>
                                        <small class="badge badge-warning"><i class="far fa-clock"></i> 1 day</small>
                                        <div class="tools">
                                            <i class="fas fa-edit"></i>
                                            <i class="fas fa-trash-o"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="handle">
                                          <i class="fas fa-ellipsis-v"></i>
                                          <i class="fas fa-ellipsis-v"></i>
                                        </span>
                                        <div  class="icheck-primary d-inline ml-2">
                                            <input type="checkbox" value="" name="todo4" id="todoCheck4">
                                            <label for="todoCheck4"></label>
                                        </div>
                                        <span class="text">Let theme shine like a star</span>
                                        <small class="badge badge-success"><i class="far fa-clock"></i> 3 days</small>
                                        <div class="tools">
                                            <i class="fas fa-edit"></i>
                                            <i class="fas fa-trash-o"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="handle">
                                          <i class="fas fa-ellipsis-v"></i>
                                          <i class="fas fa-ellipsis-v"></i>
                                        </span>
                                        <div  class="icheck-primary d-inline ml-2">
                                            <input type="checkbox" value="" name="todo5" id="todoCheck5">
                                            <label for="todoCheck5"></label>
                                        </div>
                                        <span class="text">Check your messages and notifications</span>
                                        <small class="badge badge-primary"><i class="far fa-clock"></i> 1 week</small>
                                        <div class="tools">
                                            <i class="fas fa-edit"></i>
                                            <i class="fas fa-trash-o"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="handle">
                                          <i class="fas fa-ellipsis-v"></i>
                                          <i class="fas fa-ellipsis-v"></i>
                                        </span>
                                        <div  class="icheck-primary d-inline ml-2">
                                            <input type="checkbox" value="" name="todo6" id="todoCheck6">
                                            <label for="todoCheck6"></label>
                                        </div>
                                        <span class="text">Let theme shine like a star</span>
                                        <small class="badge badge-secondary"><i class="far fa-clock"></i> 1 month</small>
                                        <div class="tools">
                                            <i class="fas fa-edit"></i>
                                            <i class="fas fa-trash-o"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">
                                <button type="button" class="btn btn-primary float-right"><i class="fas fa-plus"></i> Add item</button>
                            </div>
                        </div>
                        <!-- /.card -->
                    </section>
                    <!-- /.Left col -->
                    <!-- right col (We are only adding the ID to make the widgets sortable)-->
                    <section class="col-lg-6 connectedSortable">

                        <!-- Map card -->
                        <div class="card bg-gradient-primary">
                            <div class="card-header border-0">
                                <h3 class="card-title">
                                    <i class="fas fa-map-marker-alt mr-1"></i>
                                    Visitors
                                </h3>
                                <!-- card tools -->
                                <div class="card-tools">
                                    <button type="button" class="btn btn-primary btn-sm daterange" title="Date range">
                                        <i class="far fa-calendar-alt"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <div class="card-body">
                                <div id="world-map" style="height: 250px; width: 100%;"></div>
                            </div>
                            <!-- /.card-body-->
                            <div class="card-footer bg-transparent">
                                <div class="row">
                                    <div class="col-4 text-center">
                                        <div id="sparkline-1"></div>
                                        <div class="text-white">Visitors</div>
                                    </div>
                                    <!-- ./col -->
                                    <div class="col-4 text-center">
                                        <div id="sparkline-2"></div>
                                        <div class="text-white">Online</div>
                                    </div>
                                    <!-- ./col -->
                                    <div class="col-4 text-center">
                                        <div id="sparkline-3"></div>
                                        <div class="text-white">Sales</div>
                                    </div>
                                    <!-- ./col -->
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                        <!-- /.card -->

                        <!-- solid sales graph -->
                        <div class="card bg-gradient-info">
                            <div class="card-header border-0">
                                <h3 class="card-title">
                                    <i class="fas fa-th mr-1"></i>
                                    Sales Graph
                                </h3>

                                <div class="card-tools">
                                    <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <canvas class="chart" id="line-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer bg-transparent">
                                <div class="row">
                                    <div class="col-4 text-center">
                                        <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"
                                               data-fgColor="#39CCCC">

                                        <div class="text-white">Mail-Orders</div>
                                    </div>
                                    <!-- ./col -->
                                    <div class="col-4 text-center">
                                        <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60"
                                               data-fgColor="#39CCCC">

                                        <div class="text-white">Online</div>
                                    </div>
                                    <!-- ./col -->
                                    <div class="col-4 text-center">
                                        <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60"
                                               data-fgColor="#39CCCC">

                                        <div class="text-white">In-Store</div>
                                    </div>
                                    <!-- ./col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->

                        <!-- Calendar -->
                        <div class="card bg-gradient-success">
                            <div class="card-header border-0">

                                <h3 class="card-title">
                                    <i class="far fa-calendar-alt"></i>
                                    Calendar
                                </h3>
                                <!-- tools card -->
                                <div class="card-tools">
                                    <!-- button with a dropdown -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" data-offset="-52">
                                            <i class="fas fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu" role="menu">
                                            <a href="#" class="dropdown-item">Add new event</a>
                                            <a href="#" class="dropdown-item">Clear events</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="#" class="dropdown-item">View calendar</a>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                                <!-- /. tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body pt-0">
                                <!--The calendar -->
                                <div id="calendar" style="width: 100%"></div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </section>
                    <!-- right col -->
                </div>

            </div>
        </section>
        <!-- /.content -->

        <a id="back-to-top" href="#" class="btn btn-outline-primary back-to-top" style="display: none" role="button" aria-label="Scroll to top">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="common/footer"></div>
</div>
<!-- ./wrapper -->
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@3.1.1/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuex@4.0.2/dist/vuex.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>

<script src="/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/adminlte/plugins/pace-progress/pace.min.js"></script>

<script src="/js/public.js"></script>
<script src="/js/component/datatable.js"></script>

<script th:inline="javascript">
    const title = [[${title}]];
    const code = [[${code}]];
    const codeType = [[${codeType}]];

    function parseStocks(_this, res){
        let data = res.data.data;
        console.log(data);
        let stocks = data.stocks;
        let i = 1;
        _this.common.niusans.forEach(ns => ns.count=0);

        stocks.forEach(stk => {
            stk.stock.order = i++;
            stk.stock.news.forEach(n => {
                n.type = '['+n.dict.text+']';
                n.title = '<a target="_blank" href="'+n.urlTarget+'">'+n.title+'</a>';
            })
            stk.stock.news = {data: stk.stock.news}
            stk.stock.owners.forEach(owner => {
                _this.common.niusans.forEach(ns => {
                    if(owner.orgName.indexOf(ns.text) >= 0) ns.count++;
                });
            })
            /*_this.common.niusans.forEach(ns => {
                if(ns.count > 0) _this.niusanSelected.push(ns.key);
            });*/
        });
        _this.common.niusans = _this.common.niusans.filter(ns => ns.count > 0);
        _this.common.niusans.sort((a,b) => b.count - a.count);

        _this.stocks = stocks;
        _this._stocks = stocks;
        _this.bks = data.bks;
        _this._bks = data.bks;
        _this.loading = false;
        console.log(_this.$data);
    }

    let config = {
        data() {
            return {
                title: title,
                loading: true,
                selectedTabName: '日线',
                selectedTabIndex: 1,
                seletedRpsName: 'RPS排序',
                seletedStrategyName: '模型策略过滤',
                bkSelected: [],
                niusanSelected: [],
                common:{
                    news:{
                        type: 1,
                        columns: [{data:"type"},{data:"title"},{data:"infoCreateTime"}],
                        _dom: "ipft",
                        //columns: [{title:"a"},{title:"b"}],
                        columnDefs: [
                            { className: "text-nowrap", "targets": [ 0,2 ] }
                        ],
                        tableClass:{'table-hover':true}
                    },
                    niusans:[]
                },
                total:0,
                stocks:[],
                bks:[]
            }
        },
        watch:{
            niusanSelected:function (newVal, oldVal) {
                if(newVal.length > 0){
                    let nsName = this.common.niusans.map(ns => ns.text);
                    this.stocks = this.stocks.filter(stk => stk.stock.owners.find(owner => nsName.includes(owner.orgName)) );
                }else{
                }
            }
        },
        methods:{
            okMethods:function (){
                console.log("ok")
            },
            cancelMethods:function (){
                console.log("cancel")
            },
            selectTab:function (idx, e) {
                this.selectedTabIndex = idx;
                this.selectedTabName = e.target.innerText;
            },
            clickRps:function () {
                this.$refs.btnRps.click();
            },
            filterAllBks:function (){
                if (this.$refs.refBkFilterAll.checked) {
                    this.stocks = this._stocks;
                } else {
                    this.stocks = [];
                }
            },
            filterBk:function (bk) {
                Pace.start();
                this.stocks = this._stocks.filter(stk => stk.stock.bks.find(bk1 => bk1.code==bk.code));
                Pace.stop();
            },
            filterStocks:function (code){
                this.stocks = this._stocks.filter(stk => stk.stock.code==code)
            },
            filterByStrategy:function (strategyCode, strategyName){
                Pace.start();
                this.seletedStrategyName = strategyName;
                let _this = this;
                let _stocks = _this._stocks;
                axios.get("/strategy/"+strategyCode+"/"+codeType+"/"+code).then(function (res) {
                    parseStocks(_this, res);
                    _this._stocks = _stocks;
                });
                Pace.stop();
            },
            sortByRating:function (e) {
                Pace.start();
                this.seletedRpsName = e.target.innerText;
                this.stocks = this.stocks.concat().sort((a, b) => b.stock.rating.total - a.stock.rating.total)
                Pace.stop();
            },
            findRpsByBk:function (bkCode) {
                return this.bks.find(bk => bk.code==bkCode);
            },
            sortByRps01:function (e) {
                Pace.start();
                this.seletedRpsName = e.target.innerText;
                this.stocks = this.stocks.concat().sort((a, b) => {
                    let n = Math.max(...b.stock.bks.map(bk => findRpsByBk(bk.code).rps.rps_01.percentile)) - Math.max(...a.stock.bks.map(bk => findRpsByBk(bk.code).rps.rps_01.percentile));
                    if(n === 0){
                        n = b.stock.rating.total - a.stock.rating.total;
                    }
                    return n
                })
                Pace.stop();
            },
            sortByFnRps:function (e, type) {
                Pace.start();
                this.seletedRpsName = e.target.innerText;
                this.stocks = this._stocks.sort((a, b) => {
                    return b.stock.fnAsMap.find(fn => fn[type] != undefined)[type].value - a.stock.fnAsMap.find(fn => fn[type] != undefined)[type].value;
                })
                Pace.stop();
            },
            sortByRps:function (rps){
                Pace.start();
                this.seletedRpsName = rps.name+'('+rps.codeNo+')';
                let _this = this;
                axios.get("/rps/"+rps.code+"/"+codeType+"/"+code).then(function (res) {
                    parseStocks(_this, res);
                });
                Pace.stop();
            },

        },
        computed: {
            bksTopN: function () {
                return this.bks.slice(0, 10);
            },
            selectAllStocks:{
                get: function () {
                    return this.stocks.length === this._stocks.length;
                },
                set: function (value) {
                    if(value) {
                        this.stocks = this._stocks;
                        this.bkSelected = [];
                        this.niusanSelected = [];
                    }
                }
            },
            selectAllNiusan: {
                get: function () {
                    return this.common.niusans ? this.niusanSelected.length == this.common.niusans.length : false;
                },
                set: function (value) {
                    let selected = [];
                    if (value) {
                        this.common.niusans.forEach(function (niusan) {
                            selected.push(niusan.key);
                        });
                    }
                    this.niusanSelected = selected;
                }
            },
            stockLookPool(){
                return store.state.stockLookPool
            }
        },
        mounted() {
            let _this = this;
            axios.get("/rps/list").then(function(res){
                _this.common.rpss = res.data.data;
                _this.common.rpss.forEach(rps => rps.codeNo = rps.code.split('_')[1])
            });

            axios.get("/strategy/list").then(function(res){
                _this.common.strategies = res.data.data;
            });

            axios.get("/dict/20").then(function(res){
                _this.common.niusans = res.data.data;
                console.log(_this.common.niusans)
            });

            axios.get("/"+codeType+"/" + code).then(function (res) {
                parseStocks(_this, res);
                _this.total = _this.stocks.length;
                console.log('mounted')
            });

            store.commit('setStockLookPool', getDataFromLocalStorage('stockLookPool') || []);
        },
        created () {
        },
        beforeCreate(){
            console.log('beforeCreate')
        },
        updated(){
            console.log('updated')
            //console.log('niusanSelected', this.niusanSelected)
            //console.log('bkSelected', this.bkSelected)
        }
    }
    createApp(config);

    function clickTab(e){
        e.preventDefault();
        var flag = $(e.target).attr("id").substring(3,6);
        $("[href^='#tab"+flag+"']").click()
    }
</script>

