<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-white navbar-light">
    <div class="container-md">
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Left navbar links -->
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/notice" target="_blank" class="nav-link">热点公告</a>
                </li>
                <li class="nav-item">
                    <a href="/report" target="_blank" class="nav-link">每日报告</a>
                </li>
                <li class="nav-item">
                    <a href="/s/mystocks" target="_blank" class="nav-link">自选股</a>
                </li>
                <li class="nav-item dropdown" style="display: none" v-if="selectedTabName!=undefined" :style="{display:selectedTabName!=undefined?'block':'none'}">
                    <a v-text="selectedTabName" id="stockCardTabs" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle"></a>
                    <ul class="dropdown-menu border-0 shadow">
                        <li><a @click="selectTab('dayBar',$event)" href="#" class="dropdown-item">日线</a></li>
                        <li><a @click="selectTab('weekBar',$event)" href="#" class="dropdown-item">周线</a></li>
                        <li><a @click="selectTab('monthBar',$event)" href="#" class="dropdown-item">月线</a></li>
                        <li><a @click="selectTab('news',$event)" href="#" class="dropdown-item">新闻</a></li>
                    </ul>
                </li>
            </ul>

        </div>


        <!-- Right navbar links -->
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <!-- Navbar Search -->
            <li class="nav-item dropdown show">
                <!-- SEARCH FORM -->
                <form class="form-inline ml-0 s-form">
                    <div class="input-group input-group-sm s-input">
                        <input v-model="$store.state.searchText" @input="searchSimple()" @focus="searchResultShow(true)" @blur="searchResultShow(false)" class="form-control form-control-navbar nav-link" type="search" placeholder="搜索" aria-label="搜索">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-left" :class="$store.state.searchResultsShow && $store.state.searchResults?'show':''" style="min-width: 250px">
                    <span class="dropdown-item dropdown-header top-search-header">股票</span>
                    <div class="dropdown-divider top-search-divider"></div>
                    <template v-for="stk in $store.state.searchResults.list.slice(0,5)">
                        <a class="dropdown-item">
                            <i class="fal fa-search mr-2"></i> <span v-html="stk.stock.nameAndCodeWithLink"></span>
                        </a>
                        <div class="dropdown-divider top-search-divider"></div>
                    </template>
                    <a @click="gotoSearch" class="dropdown-item dropdown-footer">查看 <span>{{$store.state.searchText}}</span> 的所有搜索结果</a>
                </div>
            </li>
            <li class="nav-item" style="display: none">
                <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                    <i class="fas fa-search"></i>
                </a>
                <div class="navbar-search-block">
                    <form class="form-inline">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <!-- Messages Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fas fa-list"></i>
                    <span class="badge badge-danger navbar-badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="../../dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Brad Diesel
                                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">Call me whenever you can...</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="../../dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    John Pierce
                                    <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">I got your message bro</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="../../dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Nora Silvester
                                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">The subject goes here</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                </div>
            </li>
            <!-- 观察池 -->
            <li id="stock-look-pool" class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fas fa-eye"></i>
                    <span v-if="$store.state.stockLookPool && $store.state.stockLookPool.length > 0" v-text="$store.state.stockLookPool?$store.state.stockLookPool.length:'0'" class="badge badge-warning navbar-badge"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" onclick="event.stopPropagation()">
                    <span class="dropdown-item dropdown-header">观察池(仅保存在本地)</span>
                    <div class="dropdown-divider"></div>
                    <template v-for="stk in $store.state.stockLookPool">
                        <div class="dropdown-item">
                            <i class="fas fa-eye mr-2"></i> <span v-html="stk.nameAndCodeWithLink"></span>
                            <button @click.prevent="removeStockFromLookPool(stk)" type="button" class="btn btn-tool float-right" data-card-widget="remove">
                                <i class="fas fa-trash-alt" style="margin-top: 11px;"></i>
                            </button>
                        </div>
                        <div class="dropdown-divider"></div>
                    </template>
                    <div class="btn-group w-100">
                        <button :disabled="$store.state.stockLookPool && $store.state.stockLookPool.length==0" @click="showAllStocksInLookPool" type="button" class="btn">查看全部</button>
                        <button :disabled="$store.state.stockLookPool && $store.state.stockLookPool.length==0" @click="clearAllStocksInLookPool" type="button" class="btn">清空</button>
                    </div>
                </div>
            </li>

            <!-- 系统设置 -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fas fa-cog"></i>
                </a>
                <div class="dropdown-menu dropdown-menu dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">配置信息</span>
                    <div class="dropdown-divider"></div>
                    <a href="/dict" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> 字典表
                    </a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>

            <li class="nav-item">
                <init/>
            </li>
        </ul>
    </div>
</nav>
<!-- /.navbar -->