html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

.navbar {
  *position: relative;
  *z-index: 2;
  overflow: visible;
  margin-bottom: 18px;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}
.navbar-fixed-top {
  top: 0;
}
.navbar-fixed-bottom {
  bottom: 0;
}
.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
.navbar .nav.pull-right {
  float: right;
}
.navbar .nav > li {
  display: block;
  float: left;
}
.navbar .nav > li > a {
  float: none;
  padding: 11.5px 10px 13.5px;
  line-height: 19px;
  color: #ffc7bf;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin: 7.5px 5px 8.5px;
  line-height: 18px;
}
.navbar .btn-group {
  margin: 0;
  padding: 7.5px 5px 8.5px;
}
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #d43f3f;
}
.navbar .divider-vertical {
  height: 45px;
  width: 1px;
  margin: 0 9px;
  overflow: hidden;
  background-color: #d43f3f;
  border-right: 1px solid #d95454;
}
.navbar .nav.pull-right {
  margin-left: 10px;
  margin-right: 0;
}
.navbar .btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #d74c4c;
  background-image: -moz-linear-gradient(top, #d95454, #d43f3f);
  background-image: -ms-linear-gradient(top, #d95454, #d43f3f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d95454), to(#d43f3f));
  background-image: -webkit-linear-gradient(top, #d95454, #d43f3f);
  background-image: -o-linear-gradient(top, #d95454, #d43f3f);
  background-image: linear-gradient(top, #d95454, #d43f3f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d95454', endColorstr='#d43f3f', GradientType=0);
  border-color: #d43f3f #d43f3f #a22424;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #d43f3f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  background-color: #d43f3f;
  *background-color: #cc2e2e;
}
.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-color: #b72929 \9;
}
.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.navmenu {
    display: none;
    position: absolute;
    top: 35px;
    background: #8d7a5d;
    text-align: left;
    width: 74px;
    z-index: 1;
}

