td, th, p, select, input, textarea, div {
	font-size: 13px;
	font-family: "ו";
}
.td_1 {
    white-space:nowrap;
    overflow: hidden;
    text-align: right;
}
table {
    border-collapse: collapse;
}
.d2 td, .div3, .rank td {
    border:#AABBCC solid 1px;
}
table .gray {
	background-color: #f5f5f5;
}
table .tr_1:hover {
  background:#D7E9F9;
  border: 1px solid;
}
.d2 {margin-top: 2px;width: 98%}
a {
  text-decoration: none;
  color: #0055a2;
  word-break: break-all;
  outline: none;
}
/* a:visited {
  text-decoration: none;
  color: #747474;
  word-break: break-all;
  outline: none;
} */
a:hover {
  color: red;
}
.navbara{
	color: #fff
}
.navbara:hover {
  color: #006f66;
}
.table-overflow {
  overflow: auto;
}
#center{ padding:0; height:600px;width: 98%}
#center .c_left{ float:left;width:606px;height:100%;}
#center .c_right{ float:left;margin-left:2px;width:auto;height:100%;}
#center2{ padding:0; height:860px; margin: 0px} 
#center2 .c_left2{ float:left;width:248px;height:100%; overflow: auto} 
#center2 .c_right2{ float:left;margin-left:2px;width:700px;overflow: auto}
.clear{clear:both}

.text-box {min-height: 100px; height: 100px; width: 99%; margin: 4px; }
.article-box {min-height: 100px; height: 760px; width: 518px; margin: 4px; }

ul {list-style:none;margin:0; padding:0}

li {
overflow: hidden;
zoom: 1;
line-height: 1.5;
}

#text_list ul div a{
	margin-right:6px;
	color: #0055a2;
}

#text_list ul li{
	margin-top:4px;
	margin-left:6px;
	border-bottom: 1px solid #f1f1f1;
}

.row-selected {
background: #ffe48d;
color: #000000;
}

.navbar {
position: fixed;
right: 0;
left: 0;
top: 0;
z-index: 99;
margin-bottom: 0;
background-color: #006f66;
width: 100%;
}

.editor-title {
display: none;	
margin-top: 10px;	
padding-bottom: 2px;
margin-bottom: 8px;
border-bottom: 1px dashed #eee;
font-size: 14px;
text-align: center;
}
#text-title {
width: 518px;
font-size: 16px;
line-height: 16px;
padding: 2px;
margin: 2px;
font-weight: bold;
}

.sortable {
position: fixed;
right: 0;
left: 260px;
top: 34px;
z-index: 1000;
margin-bottom: 0;
background-color: #ffffff;
}

#stkcare {
   display:none;
   position:absolute; top:33px; left:170px;
   background:#fff;
   overflow-y:scroll;
   height: 800px;
}

.tag2box a {
display: inline-block;
padding: 2px 1px;
line-height: 100%;
margin: 1px;
border: solid 1px #eee;
background-color: #eee;
border-radius: 10px;
}