.s-input:focus {
    border-color: hsl(206,90%,69.5%);
    box-shadow: 0 0 0 4px hsla(206, 100%, 40%, .15);;
}
.top-search-divider{
    margin: 0;
}
.top-search-header{
    text-align: left;
    padding: .3rem 1rem;
    background-color: #f9f9f9;
}
img.ke_img{
    width: 100%;
}
.card-header{
    padding: .5rem 1.25rem;
}
.card-footer{
    background-color: unset;
    border-top: 1px solid rgba(0,0,0,.125);
}
pre{
    padding: 0;
    margin: 0;
    font-size: 95%;
}
table tr.selected{
    background-color: lightgrey;
}
.tag-highlight{
    background-color: #FFEE80;
    font-weight: 500;
}
.btn-tool{
    color: unset;
}
.btn-tool.disabled{
    color: lightgrey;
}
.navbar .active>.nav-link{
    font-weight: 600;
    color: var(--primary) !important;
}
@media (min-width: 1200px) {
    img.img-flow {
        height: 66px;
        margin-top: -67px;
        width: 405px !important;
    }

    img.img-flow-tab {
        height: 88px;
        margin-top: -88px;
        width: 100% !important;
    }
}
img.img-flow:hover, img.img-flow-tab:hover{
    opacity: 0;
}

@media only screen and (width:1024px){
    .img-bar {
        width: 350px !important;
        padding: 2px !important;
        text-align: center !important;
    }
    .img-flow{
        height: 56px !important;
        margin-top: -56px !important;
        width: 345px !important;
    }
}
i.has-value{
    color: red;
    font-weight: 700;
}
.toastify{
    white-space:nowrap;
}
.note-popover{
    z-index: 100000;
}
.stock-up{
    color: #d20;
}
.stock-up2{
    color: #fc7c63;
}
.stock-down{
    color: #093;
}
.stock-down2{
    color: #47de7a;
}
.tippy-box{
    max-width: unset!important;
}