.s-input:focus {
    border-color: hsl(206,90%,69.5%);
    box-shadow: 0 0 0 4px hsla(206, 100%, 40%, .15);;
}
.top-search-divider{
    margin: 0;
}
.top-search-header{
    text-align: left;
    padding: .3rem 1rem;
    background-color: #f9f9f9;
}
img.ke_img{
    width: 100%;
}
.card-header{
    padding: .5rem 1.25rem;
}
.card-footer{
    background-color: unset;
    border-top: 1px solid rgba(0,0,0,.125);
}
pre{
    padding: 0;
    margin: 0;
    font-size: 95%;
}
table tr.selected{
    background-color: lightgrey;
}